Repository GetStream/stream-chat-swift, pull requests merged in 2020-06, with the labels that each got.

#293 Added support for new regions
  CHANGELOG.md
  Sources/Client/BaseURL.swift
Labels: sdk:core

#295 [CIS-167] Add support for multi tenancy
  CHANGELOG.md
  Sources/Client/Client/Client+Channel.swift
  Sources/Client/Model/Channel/Channel.swift
  Sources/Client/Model/User/User.swift
Labels: enhancement, sdk:client

#284 Fixed relogin issue.
  CHANGELOG.md
  Example/Sources/DarkChannelsViewController.swift
  Example/Sources/RootViewController.swift
  Sources/Client/Client/Client+Events.swift
  Sources/Client/Client/Client+Request.swift
  Sources/Client/Client/Client+Setup.swift
  Sources/Client/Client/Client+WebSocket.swift
  Sources/Client/Client/Client.swift
  Sources/Client/Extensions/URL+Extensions.swift
  Sources/Client/Model/Channel/ChannelNamingStrategy.swift
  Sources/Client/Model/User/User.swift
  Sources/Client/WebSocket/Provider/StarscreamWebSocketProvider.swift
  Sources/Client/WebSocket/Provider/URLSessionWebSocketProvider.swift
  Sources/Client/WebSocket/Provider/WebSocketProvider.swift
  Sources/Client/WebSocket/WebSocket.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/Client/Unit Tests/ClientTestCase.swift
  Tests/Client/Unit Tests/WebSocket/WebSocketEventsMock.swift
  Tests/Client/Unit Tests/WebSocket/WebSocketProviderMock.swift
  Tests/Client/Unit Tests/WebSocket/WebSocketTests.swift
  Tests/Core/Integration Tests/ClientTests.swift
  Tests/Core/Unit Tests/Client+RxEventsTests.swift
  fastlane/Fastfile
Labels: sdk:client

#297 [CIS-152] Add testing lane for v3 and run on CI
  .github/workflows/ci.yml
  fastlane/Fastfile
  fastlane/README.md
Labels: meta, v3

#298 [CIS-174] Format Swift code in `/TestResources_v3` folder, too
  StreamChat.xcodeproj/project.pbxproj
  TestResources_v3/Await.swift
  TestResources_v3/Custom Assertions/AssertAsync.swift
  TestResources_v3/Custom Assertions/AssertJSONEqual.swift
  TestResources_v3/Custom Assertions/AssertResult.swift
  TestResources_v3/TemporaryURLs.swift
  TestResources_v3/TestError.swift
  hooks/pre-commit.sh
Labels: v3

#303 [CIS-182] Add showConnectionErrorAlert flag to ClientLogger
  CHANGELOG.md
  Sources/Client/Client/ClientLogger.swift
Labels: feature, sdk:client

#301 Fix new messages/updates not given for ChannelPresenter initialized with ChannelResponse
  CHANGELOG.md
  Sources/Core/Presenter/Channel/ChannelPresenter+RxRequests.swift
Labels: bug, sdk:core

#310 CIS-146 Fixed unexpected scrolling
  CHANGELOG.md
  Example/Carthage/ChatExample.xcodeproj/project.pbxproj
  Example/Carthage/ChatExample/FakeChatViewController.swift
  Example/Sources/CustomChatViewController.swift
  Example/Sources/Main.storyboard
  Sources/Core/Presenter/Channel/ChannelPresenter+Request.swift
  Sources/UI/Chat/Attachments/ImageAttachmentPreview.swift
  Sources/UI/Chat/Cells/MessageTableViewCell.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController+Cells.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
  Sources/UI/Extensions/UIKit/CGFloat+Extensions.swift
  Sources/UI/Extensions/UIKit/TableView.swift
  Sources/UI/Extensions/UIKit/UIImage/UIImage+Render.swift
Labels: sdk:ui

#313 [CIS-177] Change configureShared fatalError to warning for same config
  CHANGELOG.md
  Sources/Client/BaseURL.swift
  Sources/Client/Client/Client+Config.swift
  Sources/Client/Client/Client.swift
Labels: feature, sdk:client

#314 [CIS-145] Fix ChannelsPresenter not respecting filter for new channels
  CHANGELOG.md
  Sources/Core/Presenter/Channels/ChannelsPresenter+Rx.swift
  Sources/Core/Presenter/Channels/ChannelsPresenter.swift
Labels: bug, sdk:core

#312 [CIS-166] Add Logger and related components
  StreamChat.xcodeproj/project.pbxproj
  StreamChatClient_v3/ChatClient.swift
  StreamChatClient_v3/Database/DatabaseContainer.swift
  StreamChatClient_v3/Utils/Codable+Extensions.swift
  StreamChatClient_v3/Utils/Logger/BaseLogDestination.swift
  StreamChatClient_v3/Utils/Logger/ConsoleLogDestination.swift
  StreamChatClient_v3/Utils/Logger/LogDestination.swift
  StreamChatClient_v3/Utils/Logger/LogFormatter.swift
  StreamChatClient_v3/Utils/Logger/Logger.swift
  StreamChatClient_v3/Utils/Logger/PrefixLogFormatter.swift
  StreamChatClient_v3/WebSocketClient/WebSocketClient.swift
  StreamChatClient_v3/Workers/Worker.swift
  V3SampleApp/AppDelegate.swift
Labels: v3

#316 [CIS-188] Fix bad access crash in `Atomic` tests
  StreamChatClient_v3/Utils/Atomic_tests.swift
Labels: v3

#305 [CIS-168] Finish WebSocketClient implementation Part 2: Reconnection strategy
  StreamChat.xcodeproj/project.pbxproj
  StreamChatClient_v3/WebSocketClient/WebSocketReconnectionStrategy.swift
  StreamChatClient_v3/WebSocketClient/WebSocketReconnectionStrategy_tests.swift
Labels: v3

#319 [CIS-179] Add Message translation endpoint
  CHANGELOG.md
  Sources/Client/Client/Client+Message.swift
  Sources/Client/Client/Endpoint.swift
  Sources/Client/Model/LocalizedMessage.swift
  Sources/Client/Model/Message/Message+Requests.swift
  Sources/Client/Model/Message/Message.swift
  Sources/Client/Utils/Language.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: feature, sdk:client

#323 [CIS-189] Add userUnbanned ws event
  CHANGELOG.md
  Sources/Client/Client/Client+WebSocket.swift
  Sources/Client/Model/Event.swift
  Sources/Client/Model/EventType.swift
  Tests/Client/Unit Tests/EventTests.swift
Labels: feature, sdk:client

#325 [CIS-179] Refine Message translation endpoint
  Sources/Client/Model/Message/Message+Requests.swift
  Sources/Client/Model/Message/Message.swift
  Sources/Client/Model/MessageTranslations.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: feature, sdk:client

#329 Add `PinStyle` for `ComposerViewStyle`
  CHANGELOG.md
  Sources/UI/Chat/Chat View Controller/ChatViewController+Composer.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
  Sources/UI/Style/ComposerViewStyle.swift
Labels: sdk:ui

#328 Fix queryUsers not encoding sorting
  CHANGELOG.md
  Sources/Client/Client/Client+User.swift
  Sources/Client/Model/User/UsersQuery.swift
  Sources/Core/Client/Client+RxUser.swift
  Tests/Client/Unit Tests/QueryEncodingTests.swift
Labels: bug, sdk:client
