Repository GetStream/stream-chat-swift, pull requests merged in 2020-07, with the labels that each got.

#337 Fix emojis in reaction view displayed in inconsistent order
  CHANGELOG.md
  Sources/UI/Chat/Chat View Controller/ChatViewController+Reactions.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
  Sources/UI/Views/ReactionsView.swift
Labels: bug, sdk:ui

#335 [CIS-192] Channel list respects sorting from the query
  StreamChatClient_v3/Database/DTOs/ChannelDTO.swift
  StreamChatClient_v3/Database/DTOs/ChannelDTO_Tests.swift
  StreamChatClient_v3/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  StreamChatClient_v3/Query/ChannelListQuery.swift
  StreamChatClient_v3/Query/Sorting.swift
  TestResources_v3/TemporaryData.swift
Labels: v3

#339 CIS-193 Improve ClientError printing
  StreamChatClient_v3/APIClient/RequestDecoder.swift
  StreamChatClient_v3/APIClient/RequestEncoder.swift
  StreamChatClient_v3/ChatClient.swift
  StreamChatClient_v3/Errors/ClientError.swift
  StreamChatClient_v3/Models/ChannelId.swift
  StreamChatClient_v3/WebSocketClient/Events/ChannelEvents.swift
  StreamChatClient_v3/WebSocketClient/Events/ConnectionEvents.swift
  StreamChatClient_v3/WebSocketClient/Events/EventDecoder.swift
  StreamChatClient_v3/WebSocketClient/WebSocketClient.swift
  StreamChatClient_v3/WebSocketClient/WebSocketClient_Tests.swift
Labels: v3

#341 [CIS-215] Tests for ChannelId
  StreamChat.xcodeproj/project.pbxproj
  StreamChatClient_v3/Models/ChannelId.swift
  StreamChatClient_v3/Models/ChannelId_Tests.swift
  StreamChatClient_v3/Models/ChannelType.swift
Labels: v3

#348 CIS-219 Implement search with message_filter_conditions
  CHANGELOG.md
  Sources/Client/Client/Client+Channels.swift
  Sources/Client/Model/Filter.swift
  Sources/Client/Model/SearchQuery.swift
  Tests/Client/Unit Tests/QueryEncodingTests.swift
Labels: feature, sdk:client

#347 Add parseMentionedUsers parameter to Client.send(message: ...)
  CHANGELOG.md
  Sources/Client/Client/Client+Channel.swift
  Sources/Core/Client/Channel/Channel+RxRequests.swift
  Sources/Core/Client/Client+RxChannel.swift
  Sources/Core/Presenter/Channel/ChannelPresenter+RxRequests.swift
  Sources/Core/Presenter/Channel/ChannelPresenter.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController+Composer.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
Labels: feature, sdk:client

#355 Update ChannelsPresenter last message on msg edit or deletion
  CHANGELOG.md
  Sources/Core/Presenter/Channels/ChannelsPresenter.swift
Labels: bug, sdk:core

#369 [CIS-231] Fix flagging current user's messages are not allowed
  CHANGELOG.md
  Sources/Client/Client/Client+Message.swift
Labels: bug, sdk:client

#357 Add webSocketProviderType param to Client.Config
  CHANGELOG.md
  Sources/Client/Client/Client+Config.swift
  Sources/Client/Client/Client.swift
Labels: bug, sdk:client

#368 Reintroduce Hashable conformances removed in 2.2.1
  Sources/Client/Model/Channel/Channel.swift
  Sources/Client/Model/Channel/ChannelResponse.swift
  Sources/Client/Model/Message/Attachment/Attachment.swift
  Sources/Client/Model/Message/Attachment/AttachmentFile.swift
  Sources/Client/Model/Message/Attachment/AttachmentType.swift
  Sources/Client/Model/Message/Message.swift
  Sources/Client/Model/Message/MessageRead.swift
  Sources/Core/Presenter/Channel/ChannelPresenter+TypingUsers.swift
  Sources/UI/Style/ChannelViewStyle.swift
  Sources/UI/Style/ChatViewStyle.swift
  Sources/UI/Style/ComposerViewStyle.swift
  Sources/UI/Style/SeparatorStyle.swift
Labels: bug, sdk:client, sdk:core, sdk:ui

#366 [CIS-222] Make ChannelNamingStrategy per user
  CHANGELOG.md
  Sources/Client/Client/Client+Channel.swift
  Sources/Client/Model/Channel/Channel.swift
  Sources/Client/Model/Channel/ChannelNamingStrategy.swift
  Sources/Core/Presenter/Channel/ChannelPresenter.swift
  Tests/Client/Unit Tests/Channel+SetupTests.swift
  Tests/Client/Unit Tests/ChannelNamingStrategyTests.swift
Labels: bug, sdk:client, sdk:core
