Repository GetStream/stream-chat-swift, pull requests merged in 2021-12, with the labels that each got.

#1656 [CIS-1369] Improve stability of marking channel read
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
Labels: bug

#1649 Fix TypingEventSender inconsistencies
  CHANGELOG.md
  Sources/StreamChat/Workers/TypingEventSender_Tests.swift
  Sources/StreamChat/Workers/TypingEventsSender.swift
Labels: bug, sdk:StreamChat

#1653 [CIS-1362] Store web-socket disconnection source
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Mock.swift
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/WebSocketClient/ConnectionStatus.swift
  Sources/StreamChat/WebSocketClient/ConnectionStatus_Tests.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient_Tests.swift
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  Sources/StreamChat/Workers/ChatClientUpdater_Tests.swift
Labels: sdk:StreamChat

#1651 [CIS-1390] Refactor `ChatMessageLayoutOptions` with more flexible and safer approach
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptions.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-continuousBubble-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-quotedMessage-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-quotedMessage-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-quotedMessage-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-quotedMessage-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-errorIndicator-flipped-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-errorIndicator-flipped-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-quotedMessage-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-quotedMessage-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/Deprecations.swift
  Sources/StreamChatUI/MessageActionsPopup/MessageActionsTransitionController.swift
Labels: sdk:StreamChatUI

#1666 [CIS-1353] Reactions cover text in message bubble
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-continuousBubble-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-quotedMessage-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatar-bubble-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-quotedMessage-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-avatarSizePadding-bubble-continuousBubble-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-errorIndicator-flipped-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-errorIndicator-flipped-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text-threadInfo-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text-threadInfo.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-quotedMessage-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-continuousBubble-flipped-reactions-text.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-quotedMessage-reactions-text-timestamp.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance.default-light-bubble-flipped-reactions-text-timestamp.png
Labels: sdk:StreamChatUI

#1671 [BW] Resolves compile time warnings, including publicizing the previously deprecated ChatMessageLayoutOptions APIs
  Scripts/removePublicDeclaracions.sh
  Sources/StreamChat/StreamStarscream/Engine/Engine.swift
  Sources/StreamChat/StreamStarscream/Framer/FrameCollector.swift
  Sources/StreamChat/StreamStarscream/Framer/Framer.swift
  Sources/StreamChat/StreamStarscream/Framer/HTTPHandler.swift
  Sources/StreamChat/StreamStarscream/Security/Security.swift
  Sources/StreamChat/StreamStarscream/Server/Server.swift
  Sources/StreamChat/StreamStarscream/Starscream/WebSocket.swift
  Sources/StreamChat/StreamStarscream/Transport/Transport.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptions.swift
  Sources/StreamChatUI/Deprecations.swift
Labels: sdk:StreamChat, sdk:StreamChatUI

#1672 Fix error messages being rendered incorrectly and interactive
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.small-dark.png
  Sources/StreamChatUI/Utils/ChatMessage+Extensions.swift
Labels: bug, sdk:StreamChatUI

#1664 [CIS-1352] Add documentation about custom views in message cell
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptions.swift
  Sources/StreamChatUI/Deprecations.swift
  StreamChat.xcodeproj/project.pbxproj
  UISDKdocumentation/AttachmentButton_Documentation_Tests.swift
  UISDKdocumentation/AttachmentPlaceholderView_Documentation_Tests.swift
  UISDKdocumentation/ChatAvatarView_Documentation_Tests.swift
  UISDKdocumentation/ChatChannelListItemView_Documentation_Tests.swift
  UISDKdocumentation/ChatMessageContentView_Documentation_Tests.swift
  UISDKdocumentation/CommandButton_Documentation_Tests.swift
  UISDKdocumentation/CommandLabelView_Documentation_Tests.swift
  UISDKdocumentation/ComposerVC_Documentation_Tests.swift
  UISDKdocumentation/ConfirmButton_Documentation_Tests.swift
  UISDKdocumentation/CreateChatChannelButton_Documentation_Tests.swift
  UISDKdocumentation/OnlineIndicatorView_Documentation_Tests.swift
  UISDKdocumentation/SendButton_Documentation_Tests.swift
  UISDKdocumentation/ShrinkInputButton_Documentation_Tests.swift
  UISDKdocumentation/TitleContainerView_Documentation_Tests.swift
  UISDKdocumentation/UIView+Annotations.swift
  UISDKdocumentation/__Snapshots__/ChatMessageContentView_Documentation_Tests/ChatMessageContentView_documentation.default-light.png
  docusaurus/docs/iOS/assets/ChatMessageContentView_documentation.default-light.png
  docusaurus/docs/iOS/assets/message-advanced-new-button-after.png
  docusaurus/docs/iOS/assets/message-advanced-new-button-before.png
  docusaurus/docs/iOS/assets/message-basic-customization-after.png
  docusaurus/docs/iOS/assets/message-basic-customization-before.png
  docusaurus/docs/iOS/assets/message-basic-resolver-after.png
  docusaurus/docs/iOS/assets/message-basic-resolver-before.png
  docusaurus/docs/iOS/assets/message-restructure-layout-after.png
  docusaurus/docs/iOS/assets/message-restructure-layout-before.png
  docusaurus/docs/iOS/assets/messagelist-layout-annotation.png
  docusaurus/docs/iOS/assets/messagelist-layout-detail-components-annotation.png
  docusaurus/docs/iOS/basics/overview.md
  docusaurus/docs/iOS/guides/attachments-migration.md
  docusaurus/docs/iOS/guides/customize-message-actions.md
  docusaurus/docs/iOS/guides/customize-message-composer.md
  docusaurus/docs/iOS/guides/working-with-attachments.md
  docusaurus/docs/iOS/guides/working-with-members.md
  docusaurus/docs/iOS/guides/working-with-messagelist-layout.md
  docusaurus/docs/iOS/guides/working-with-messages.md
  docusaurus/docs/iOS/swiftui/localization.md
  docusaurus/docs/iOS/swiftui/view-customizations.md
  docusaurus/docs/iOS/ui-cheat-sheet.md
  docusaurus/docs/iOS/uikit/components/message.md
  docusaurus/docs/iOS/uikit/getting-started.md
  docusaurus/docs/iOS/uikit/localization.md
  docusaurus/docs/iOS/uikit/views/channel-list-item-view.md
  docusaurus/docs/iOS/uikit/views/message-layout-options-resolver.md
  docusaurus/sidebars-ios.json
Labels: docs

#1680 [CIS-1405] Fix own reactions regression
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Mock.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/EventDataProcessorMiddleware_Tests.swift
  Sources/StreamChat/Workers/Background/MessageSender.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
Labels: bug, sdk:StreamChat

#1681 Introduce `LogConfig.destinationTypes`
  CHANGELOG.md
  Sources/StreamChat/Utils/Logger/Destination/BaseLogDestination.swift
  Sources/StreamChat/Utils/Logger/Destination/LogDestination.swift
  Sources/StreamChat/Utils/Logger/Logger.swift
  StreamChatSample/LogStore.swift
Labels: feature, sdk:StreamChat

#1687 Fix redundant API call in ChannelListController
  CHANGELOG.md
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
  Sources/StreamChat/Workers/ChannelListUpdater_Mock.swift
Labels: bug, sdk:StreamChat

#1676 [CIS-1241, CIS-1240, CIS-1387] Implementing V2 Automated Release
  .github/workflows/publish-release.yml
  fastlane/Fastfile
  fastlane/README.md
  fastlane/beta_gym_export_options.plist
  fastlane/firebase_export_options.plist
  fastlane/testflight_export_options.plist
Labels: continuous-integration

#1698 Move unwanted deprecated functions from `ChatMessageLayoutOptions`
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptions.swift
  Sources/StreamChatUI/Deprecations.swift
Labels: bug

#1696 Expose `QueryOptions` and `start/stopWatching`
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/ChannelQuery.swift
  Sources/StreamChat/Query/QueryOptions.swift
Labels: feature, sdk:StreamChat

#1695 [CIS-1423] Custom user events are now properly decoded
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownChannelEvent.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownChannelEvent_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownUserEvent.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownUserEvent_Tests.swift
  Sources/StreamChat/Controllers/EventsController/ChannelEventsController.swift
  Sources/StreamChat/Controllers/EventsController/ChannelEventsController_Tests.swift
  Sources/StreamChat/Controllers/EventsController/EventsController_Tests.swift
  Sources/StreamChat/Deprecations.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/EventDTOConverterMiddleware_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/EventDecoder.swift
  Sources/StreamChat/WebSocketClient/Events/EventDecoder_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/EventType.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: sdk:StreamChat

#1646 [CIS-1273] Ensure optional Core Data attributes map to optional Swift types
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/ChannelMuteDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelReadDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/MessageSearchQueryDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Models/MuteDetails.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware.swift
  Sources/StreamChat/Workers/MessageUpdater_Tests.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageImageGallery+UploadingOverlay.swift
Labels: sdk:StreamChat

#1706 [CIS-1367] Remove unnecessary API calls from `ChannelVC` and `ChannelListVC `
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/Utils/UIScrollView+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: bug, sdk:StreamChatUI

#1721 [CIS-1446] Add `ChannelListQuery.membersLimit` param
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/ChannelListQuery_Tests.swift
Labels: feature, sdk:StreamChat

#1703 [CIS-1427] Fix quoted messages not updated after edit
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Tests.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater_Tests.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Labels: bug

#1722 [CIS-1444] Support passing the extra data along with the message
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater_Mock.swift
  Sources/StreamChat/Workers/MessageUpdater_Tests.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: sdk:StreamChat, sdk:StreamChatUI
