Repository GetStream/stream-chat-swift, pull requests merged in 2021-02, with the labels that each got.

#784 [CIS-623] Add text truncating in Suggestion cell
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerMentionCollectionViewCell.swift
Labels: sdk:StreamChatUI

#780 Update certificates repo url to SSH
  fastlane/Matchfile
Labels: meta

#787 [CIS-629] Fix mint failing run phase if swiftlint is not installed
  Sources/StreamChatUI/Utils/Bundle+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: meta

#791 [CIS-631] Disable changelog warning for StreamChatUI
  Dangerfile
Labels: sdk:StreamChatUI

#790 [CIS-639] Change Routers setter to public
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
Labels: sdk:StreamChatUI

#797 [CIS-633] Fix beta lane
  .github/workflows/beta.yml
Labels: meta

#809 Allow message edit/delete from all users
  CHANGELOG.md
  Sources/StreamChat/Workers/Background/AttachmentUploader.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater_Tests.swift
Labels: sdk:StreamChat

#824 [CIS-668] Fix view lifecycle methods called multiple times
  Sources/StreamChatUI/Common Views/BaseViews.swift
Labels: sdk:StreamChatUI

#829 Fix ChatViewController title and avatar is not shown correctly
  CHANGELOG.md
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
Labels: bug, sdk:StreamChat(v2)

#827 Allow much more customization in ChatViewController
  CHANGELOG.md
  Sources/UI/Chat/Chat View Controller/ChatViewController+Cells.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController+Composer.swift
  Sources/UI/Chat/Chat View Controller/ChatViewController.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: feature, sdk:StreamChat(v2)

#835 [CIS-676] Fix crash when creating new channel
  Sources/StreamChatUI/ChatMessageList/ChatMessageListCollectionViewLayout.swift
Labels: sdk:StreamChatUI

#840 Update information about project
  Documentation/Installation.MD
  README.md
  Sample/README.md
  Sources/StreamChat/README.md
Labels: meta
