Repository GetStream/stream-chat-swift, pull requests merged in 2021-04, with the labels that each got.

#948 Convert danger CHANGELOG check to message level
  CHANGELOG.md
  Dangerfile
Labels: meta

#956 [CIS-741] Fix incorrect new message position in empty channel
  Sources/StreamChatUI/ChatMessageList/ChatMessageListCollectionViewLayout.swift
Labels: sdk:StreamChatUI

#975 Message cell actions forwarding
  Sources/StreamChatUI/ChatMessageList/RETHINK/MessageCell.swift
  Sources/StreamChatUI/ChatMessageList/RETHINK/MessageListVC.swift
Labels: sdk:StreamChatUI

#980 `ContainerView` improvements
  Sources/StreamChatUI/CommonViews/ContainerView.swift
Labels: sdk:StreamChatUI

#991 Switch DemoApp users to SampleApp users
  DemoApp/DemoUsers.swift
Labels: demo

#1016 [CIS-805] Refresh channel list queries when current user membership changes
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/WebSocketClient/EventMiddlewares/MemberEventMiddleware.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/MemberEventMiddleware_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/ConnectionEvents.swift
  Sources/StreamChat/WebSocketClient/Events/MemberEvents.swift
  Sources/StreamChat/WebSocketClient/Events/NotificationEvents.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient_Tests.swift
  Sources/StreamChat/Workers/Background/NewChannelQueryUpdater.swift
  Sources/StreamChat/Workers/Background/NewChannelQueryUpdater_Tests.swift
  Sources/StreamChat/Workers/EventObservers/EventObserver_Tests.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
Labels: sdk:StreamChat

#1018 Fix `CurrentUserController.synchronize()` flaky Tests
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController_Tests.swift
Labels: bug

#1021 Remove `DeprecatedContainerStackView`
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerCheckmarkControl.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerInputContainerView.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageInputSlashCommandView.swift
  Sources/StreamChatUI/CommonViews/DeprecatedContainerStackView.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: sdk:StreamChatUI

#1020 Explicitly pin `StreamChat` version in `StreamChatUI` podspec
  StreamChatUI.podspec
Labels: meta
