Repository GetStream/stream-chat-swift, pull requests merged in 2021-09, with the labels that each got.

#1403 [CIS-1145] Decode RemoveLast Crash
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UserPayloads_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Requests/MissingEventsRequestBody_Tests.swift
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Sources/StreamChat/Utils/JSONDecoder_Tests.swift
  Sources/StreamChat/Utils/JSONEncoder_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: sdk:StreamChat

#1418 [CIS-1156] Use remote config to disable threads and mutes
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver_Tests.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
Labels: sdk:StreamChatUI

#1421 [CIS-1159] Provide different Objc name for `InputTextView`
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
Labels: !important

#1391 [CIS-1117] Change unowned to weak self in blocks
  Sample/Samples/UserUpdateViewController.swift
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/CDNClient.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController.swift
  Sources/StreamChat/Controllers/ConnectionController/ConnectionController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/EventsController/EventsController.swift
  Sources/StreamChat/Controllers/MemberController/MemberController.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Controllers/SearchControllers/UserSearchController/UserSearchController.swift
  Sources/StreamChat/Controllers/UserController/UserController.swift
  Sources/StreamChat/Controllers/UserListController/UserListController.swift
  Sources/StreamChat/Utils/InternetConnection/InternetConnection.swift
  Sources/StreamChat/Utils/InternetConnection/Reachability_Vendor.swift
  Sources/StreamChat/Workers/Background/ChannelWatchStateUpdater.swift
  Sources/StreamChat/Workers/Background/ConnectionRecoveryUpdater.swift
Labels: sdk:StreamChat

#1438 [CIS-1157] Introduce linking delegate callbacks
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController_Tests.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Mock.swift
  Sources/StreamChatTestTools/ChatClient_Mock.swift
Labels: feature, sdk:StreamChat

#1449 [CIS-1082] Internet connection handling
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/Utils/InternetConnection/InternetConnection_Tests.swift
Labels: sdk:StreamChat

#1453 Add delegate func for tap on user avatar for a message
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/CommonViews/AvatarView/ChatAvatarView.swift
Labels: feature, sdk:StreamChatUI

#1455 [CIS-1174] Fix message list wrong content inset when typing events disabled
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: bug, sdk:StreamChatUI

#1458 [CIS-1177] Fix typing events always disabled when channel opened without cache from Channel List
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: bug, sdk:StreamChatUI

#1457 [CIS-1180] Fix currentDevice is always nil
  CHANGELOG.md
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO_Tests.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Mock.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  Sources/StreamChat/Workers/CurrentUserUpdater_Tests.swift
Labels: bug, sdk:StreamChat

#1464 [CIS-1184] Fix keyboard handling when navigation bar is not translucent
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
Labels: sdk:StreamChatUI

#1470 [CIS-1184] Fix composer keyboard handler when tabBar not translucent
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
Labels: bug, sdk:StreamChatUI

#1468 [CIS-1181] Implement uploadFile API
  CHANGELOG.md
  Sources/StreamChat/APIClient/CDNClient.swift
  Sources/StreamChat/APIClient/Endpoints/AttachmentEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/AttachmentEndpoints_Tests.swift
  Sources/StreamChat/APIClient/StreamCDNClient_Tests.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Models/Attachments/AnyAttachmentPayload.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment_Tests.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAudioAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageFileAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageVideoAttachment.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater_Mock.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
  Sources/StreamChatTestTools/Models/Attachments/ChatMessageFileAttachment_Mock.swift
  Sources/StreamChatTestTools/Models/Attachments/ChatMessageImageAttachment_Mock.swift
Labels: feature, sdk:StreamChat

#1480 [CIS-1195] Dynamic height for the composer attachment previews
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentsPreviewVC.swift
Labels: sdk:StreamChatUI

#1483 Fix hidden vertical attachment previews in the Composer
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentsPreviewVC.swift
Labels: bug, sdk:StreamChatUI

#1485 Fix composer horizontal attachment after adding vertical attachment
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentsPreviewVC.swift
Labels: sdk:StreamChatUI
