Repository GetStream/stream-chat-swift, pull requests merged in 2021-11, with the labels that each got.

#1591 [CIS-1264] Handle shadow bans
  CHANGELOG.md
  DemoApp/CustomMessageContentView.swift
  DemoApp/DemoAppCoordinator.swift
  Sources/StreamChat/APIClient/ChatPushNotificationContent_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Mock.swift
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController+SwiftUI_Tests.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Database/DatabaseContainer_Tests.swift
  Sources/StreamChat/Database/DatabaseSession_Tests.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Utils/Database/NSManagedObjectContext+Extensions.swift
  Sources/StreamChatTestTools/ChatClient_Mock.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
  Sources/StreamChatTestTools/DummyData/MessagePayload.swift
  Sources/StreamChatTestTools/DummyData/XCTestCase+Dummy.swift
  Sources/StreamChatTestTools/Models/ChatMessage_Mock.swift
  Tests/StreamChatTests/MockEnpointResponses/Message.json
Labels: feature, sdk:StreamChat

#1596 [CIS-1207, CIS-1232] Fix crash and swapping the long-pressed message on `ChatMessagePopupVC`
  CHANGELOG.md
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Deprecations.swift
  Sources/StreamChatUI/MessageActionsPopup/MessageActionsTransitionController.swift
  Sources/StreamChatUI/Navigation/ChatMessageListRouter.swift
Labels: sdk:StreamChatUI

#1593 Fixing broken constraints on the CreateChatViewController
  DemoApp/Base.lproj/Main.storyboard
  DemoApp/CreateChatViewController.swift
Labels: bug, demo

#1600 [CIS-1252] Make the `NukeImageLoader` initialiser accessible
  CHANGELOG.md
  Sources/StreamChatUI/Utils/ImageLoading/NukeImageLoader.swift
Labels: bug, good starter

#1603 [CIS-1308] Fix message not pinned when expiration date is nil
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Models/ChatMessage_Tests.swift
Labels: bug, sdk:StreamChatUI

#1604 Fix MOV attachment mime type encoding
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes_Tests.swift
Labels: bug, sdk:StreamChat

#1605 [CIS-1262, CIS-1293] Fix message list jumps and cell not resizing on edit
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/Utils/CollectionUpdatesMapper.swift
  Sources/StreamChatUI/Utils/CollectionUpdatesMapper_Tests.swift
Labels: bug, sdk:StreamChatUI

#1627 [CIS-1328] Dismiss suggestions popup when tapping outside
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDelegate.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
Labels: bug

#1631 [CIS-1242] Fix memory leak in GalleryVC
  CHANGELOG.md
  Sources/StreamChatUI/Gallery/ZoomDismissalInteractionController.swift
Labels: bug

#1650 Make LogDestination fields public and accessible
  CHANGELOG.md
  Sources/StreamChat/Utils/Logger/Destination/LogDestination.swift
Labels: bug, feature, sdk:StreamChat
