Repository GetStream/stream-chat-swift, pull requests merged in 2021-08, with the labels that each got.

#1337 [CIS-1079] Fix CoreData misuse when creating Direct Messaging channels
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
Labels: bug, sdk:StreamChat

#1331 [CIS-1077] Add ChannelVisibilityEventMiddleware pendingChanges test
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelVisibilityEventMiddleware_Tests.swift
Labels: sdk:StreamChat

#1342 [CIS-1083] Introduce logout to DemoApp
  DemoApp/ChatPresenter.swift
  DemoApp/DemoAppCoordinator.swift
  DemoApp/SceneDelegate.swift
Labels: demo

#1353 [CIS-1094] Fix ChannelListController.synchronize not calling completion
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: bug, sdk:StreamChat

#1361 [CIS-1101] Fix jumps when presenting message popup actions in a modal
  CHANGELOG.md
  Sources/StreamChatUI/MessageActionsPopup/MessageActionsTransitionController.swift
Labels: bug, sdk:StreamChatUI

#1362 [CIS-1102] Fix creating custom Channel Types with uppercase letters
  CHANGELOG.md
  Sources/StreamChat/Models/ChannelType.swift
Labels: bug, sdk:StreamChat

#1371 [CIS-1052] Update v3 migration guide
  docusaurus/docs/iOS/guides/migrating-from-3-to-4.md
Labels: docs

#1370 [CIS-1053] Update v2 migration guide
  docusaurus/docs/iOS/guides/migrating-from-1.x-and-2.x.md
Labels: docs

#1364 [CIS-1104] Fix message list dismissing in modal when scrolling
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: bug

#1390 [CIS-1135] Fix user mention suggestions not showing all members
  CHANGELOG.md
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
Labels: bug

#1401 Simplify the way `Components.default` is stored
  Sources/StreamChatUI/Components.swift
Labels: sdk:StreamChatUI

#1314 [CIS-1059] [CIS-860] Refactor `ChatMessageListVC` and `ChatThreadVC`
  CHANGELOG.md
  DemoApp/CreateChatViewController.swift
  DemoApp/DemoAppCoordinator.swift
  MessengerClone/ChatClient.swift
  MessengerClone/MessengerChatChannelViewController.swift
  Package.swift
  Sample/LoginViewController.swift
  SlackClone/ChatClient.swift
  SlackClone/SlackChatChannelViewController.swift
  SlackClone/SlackChatMessageListViewController.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelHeaderView.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC+SwiftUI.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC+SwiftUI_Tests.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC_Tests.swift
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_chatChannel_isPopulated.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_deletedMessagesWithAttachmentsAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.small-dark.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.default-light.png
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListKeyboardObserver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDataSource.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDelegate.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadHeaderView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC+SwiftUI.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC+SwiftUI_Tests.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC_Tests.swift
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_chatThreadVC_isPopulated.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_emptyAppearance.default-light.png
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Sources/StreamChatUI/Navigation/ChatChannelListRouter.swift
  Sources/StreamChatUI/Navigation/ChatChannelListRouter_Mock.swift
  StreamChat.xcodeproj/project.pbxproj
  YouTubeClone/ChatClient.swift
  YouTubeClone/YTLiveChatViewController.swift
  iMessageClone/ChatClient.swift
  iMessageClone/iMessageChatChannelViewController.swift
  iMessageClone/iMessageChatMessageListViewController.swift
Labels: sdk:StreamChatUI
