Repository GetStream/stream-chat-swift, pull requests merged in 2021-03, with the labels that each got.

#859 [CIS-691] Add support for cooldown/throttling
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelCodingKeys.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO_Tests.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater_Mock.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/DummyData/ChannelPayload.swift
  Tests/StreamChatTests/MockEnpointResponses/Channel.json
Labels: feature, sdk:StreamChat

#874 [CIS-713] Prefix SDK Version in Client Header with 'v'
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
Labels: sdk:StreamChat

#880 [CIS-726] Introduce MemberEventMiddleware
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/MemberEventMiddleware.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/MemberEventMiddleware_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/DummyData/MemberPayload.swift
Labels: feature, sdk:StreamChat

#877 [CIS-719] Fix app getting terminated in bg due to unfinished task
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient_Tests.swift
Labels: bug, sdk:StreamChat

#891 Cleanup CI Full Checks Tests
  .github/workflows/full-checks.yml
Labels: meta

#893 Fix watcher events received for current user during query
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/EventMiddlewares/UserWatchingEventMiddleware.swift
Labels: bug, sdk:StreamChat

#881 Add cancel workflow action
  .github/workflows/cancel.yml
Labels: meta

#892 [CIS-695] Better handling of Swipe actions in ChatChannelCollectionVC
  Package.swift
  Sources/StreamChatUI/ChatChannelList/CellActionView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListCollectionViewCell.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView_Tests.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelSwipeableListItemView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelSwipeableListItemView_Tests.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelUnreadCountView.swift
  Sources/StreamChatUI/ChatChannelList/SwipeableView.swift
  Sources/StreamChatUI/ChatChannelList/SwipeableView_Tests.swift
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/SwipeableView_Tests/test_defaultAppearance.default-dark.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/SwipeableView_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageAttachmentInfoView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageGiphyView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageImageGallery.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageInteractiveAttachmentView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageLinkPreviewView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageMetadataView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageThreadInfoView.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerCommandCollectionViewCell.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerInputTextView.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerMentionCollectionViewCell.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerSuggestionsCommandsHeaderView.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerView.swift
  Sources/StreamChatUI/Resources/Assets.xcassets/icn_more.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/icn_more.imageset/Union.pdf
  Sources/StreamChatUI/UIConfig+ChannelList.swift
  Sources/StreamChatUI/UIConfig+Images.swift
  Sources/StreamChatUI/Utils/UILabel+Extensions.swift
  Sources/StreamChatUI/Utils/UIStackView+Extensions.swift
  Sources/StreamChatUI/Utils/UIView+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  iMessageClone/iMessageChatChannelListItemView.swift
Labels: sdk:StreamChatUI

#902 Fix constraints on ChatMessageComposerVC
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerDocumentAttachmentsView.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerImageAttachmentsView.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessagePopupVC.swift
Labels: sdk:StreamChatUI

#912 Add team filter keys
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/ChannelListQuery_Tests.swift
  Sources/StreamChat/Query/UserListQuery.swift
  Sources/StreamChat/Query/UserListQuery_Tests.swift
Labels: sdk:StreamChat

#922 Fix ChannelUpdatedEvent failing to parse
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/Events/ChannelEvents.swift
  Sources/StreamChat/WebSocketClient/Events/ChannelEvents_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/MockEnpointResponses/Events/Channel/ChannelUpdated_ServerSide.json
Labels: bug, sdk:StreamChat

#925 Remove building demo app iOS < 14 in Full Checks
  .github/workflows/full-checks.yml
Labels: meta

#924 Add missing options argument to fastlane lanes
  fastlane/Fastfile
Labels: meta

#938 Add template docs pages
  stream-chat-swift-docs/docs/faq.md
  stream-chat-swift-docs/docs/filter-query-guide.md
  stream-chat-swift-docs/docs/getting-started.md
  stream-chat-swift-docs/docs/home.md
  stream-chat-swift-docs/docs/integration.md
  stream-chat-swift-docs/docs/introduction.md
  stream-chat-swift-docs/docs/moderation.md
  stream-chat-swift-docs/docs/pinned-messages.md
  stream-chat-swift-docs/docs/push-notifications.md
  stream-chat-swift-docs/docs/ui-components-overview.md
  stream-chat-swift-docs/docs/ui-customization.md
  stream-chat-swift-docs/docs/working-with-a-channel.md
  stream-chat-swift-docs/docs/working-with-attachments.md
  stream-chat-swift-docs/docs/working-with-channels.md
  stream-chat-swift-docs/docs/working-with-members.md
  stream-chat-swift-docs/docs/working-with-messages.md
  stream-chat-swift-docs/docs/working-with-reactions.md
  stream-chat-swift-docs/docs/working-with-watchers.md
  stream-chat-swift-docs/sidebars.js
Labels: docs

#941 Improve bootstrap experience
  bootstrap.sh
Labels: meta
