Repository GetStream/stream-chat-swift, pull requests merged in 2021-05, with the labels that each got.

#1046 Fix DemoApp not compiling due to leftover optional
  DemoApp/ChatPresenter.swift
Labels: bug, demo

#1040 [CIS-815] Separated attachment types
  Sources/StreamChat/APIClient/Endpoints/Payloads/AttachmentPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/AttachmentPayload_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/RawJSON.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Mock.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Attachments/AttachmentEnvelope.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes_Tests.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachmentSeed.swift
  Sources/StreamChat/Models/Attachments/ChatMessageDefaultAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageFileAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageGiphyAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageLinkAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageRawAttachment.swift
  Sources/StreamChat/Models/Message.swift
  Sources/StreamChat/Workers/Background/AttachmentUploader.swift
  Sources/StreamChat/Workers/Background/AttachmentUploader_Tests.swift
  Sources/StreamChat/Workers/Background/MessageSender_Tests.swift
  Sources/StreamChat/Workers/ChannelUpdater_Mock.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
  Sources/StreamChat/Workers/MessageUpdater_Tests.swift
  Sources/StreamChatTestTools/DummyData/AttachmentPayload.swift
  Sources/StreamChatTestTools/Models/Attachments/AttachmentEnvelope_Mock.swift
  Sources/StreamChatTestTools/Models/Attachments/yoda.jpg
  Sources/StreamChatTestTools/Models/Attachments/yoda.txt
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatFileAttachmentListView+ItemView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageAttachmentInfoView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageAttachmentListViewData.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageAttachmentsView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageFileAttachmentListView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageGiphyView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageImageGallery+ImagePreview.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageImageGallery+UploadingOverlay.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageImageGallery.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageInteractiveAttachmentView+ActionButton.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageInteractiveAttachmentView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageLinkPreviewView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/GalleryAttachmentViewInjetor.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListRouter.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerVC.swift
  Sources/StreamChatUI/CommonViews/Attachments/DocumentAttachments/ChatDocumentAttachmentView.swift
  Sources/StreamChatUI/CommonViews/MessageQuoteView/ChatMessageQuoteView.swift
  Sources/StreamChatUI/CommonViews/MessageQuoteView/ChatMessageQuoteView_Tests.swift
  Sources/StreamChatUI/Components+MessageList.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/DummyData/ChatMessageAttachment.swift
  Tests/StreamChatTests/DummyData/TestAttachmentEnvelope.swift
Labels: sdk:StreamChat, sdk:StreamChatUI

#1052 Add test for Channel extra data updates
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
Labels: sdk:StreamChat

#1060 [CIS-833] Fix crash when opening attachments on iPad
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerVC.swift
Labels: sdk:StreamChatUI

#1067 Add group chat creation to DemoApp
  DemoApp/CreateChatViewController.swift
  DemoApp/CreateGroupViewController.swift
  DemoApp/DemoAppCoordinator.swift
  DemoApp/NameGroupViewController.swift
Labels: demo

#1076 New `ComposerVC` Data Flow
  DemoApp/CreateChatViewController.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerVC.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentPreview/AttachmentPreview.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentPreview/DocumentAttachmentPreview.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentPreview/ImageAttachmentPreview.swift
  Sources/StreamChatUI/CommonViews/Attachments/DocumentAttachments/ChatDocumentAttachmentsCollectionView.swift
  Sources/StreamChatUI/CommonViews/Attachments/ImageAttachments/ChatImageAttachmentsCollectionView_Tests.swift
  Sources/StreamChatUI/CommonViews/InputChatMessageView/InputChatMessageView.swift
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView.swift
  Sources/StreamChatUI/CommonViews/Suggestions/ChatSuggestionsViewController.swift
  Sources/StreamChatUI/Components+MessageComposer.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Composer/ComposerView.swift
  StreamChat.xcodeproj/project.pbxproj
  iMessageClone/iMessageChatComposerViewController.swift
  iMessageClone/iMessageChatMessageComposerView.swift
Labels: sdk:StreamChatUI

#1080 [CIS-841] Fix custom fonts breaking composer input resizing
  Sources/StreamChatUI/ChatMessageList/MessageComposer/ChatMessageComposerInputTextView.swift
Labels: bug

#1098 Fix docs location for `attachment(payloadType:)`
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment.swift
Labels: sdk:StreamChat

#1097 Add safer updates to collection view changes
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC_Tests.swift
Labels: sdk:StreamChatUI

#1104 Add Channel Avatar View to MessageList header
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: sdk:StreamChatUI

#1101 Add Working with a Channel guide
  stream-chat-swift-docs/docs/guides/working-with-a-channel.md
  stream-chat-swift-docs/static/img/channel-header.png
Labels: docs

#1108 [CIS-761] Add Working with Members guide
  stream-chat-swift-docs/docs/guides/working-with-members.md
  stream-chat-swift-docs/static/img/members-list.png
Labels: docs

#1122 Open swipeableView funcs in Channel List
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
Labels: sdk:StreamChatUI

#1130 Audit `ChatMessageBubbleView` (follow-up)
  Package.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageBubbleView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageBubbleView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearanceCustomization_usingSubclassing.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenContentIsSet.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenContentIsSet.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenEphemeralMessageSentByCurrentUserLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenEphemeralMessageSentByCurrentUserLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenEphemeralMessageSentByCurrentUserNotLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenEphemeralMessageSentByCurrentUserNotLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByAnotherUserLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByAnotherUserLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByAnotherUserNotLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByAnotherUserNotLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByCurrentUserLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByCurrentUserLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByCurrentUserNotLastInSequence.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenMessageSentByCurrentUserNotLastInSequence.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenNoContentSet.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageBubbleView_Tests/test_appearance_whenNoContentSet.default-light.png
Labels: sdk:StreamChatUI
