Repository GetStream/stream-chat-swift, pull requests merged in 2021-06, with the labels that each got.

#1137 Fix message list layout glitches
  Sources/StreamChatUI/ChatMessageList/ChatMessageListKeyboardObserver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/MessageActionsPopup/MessageActionsTransitionController.swift
Labels: demo

#1154 Reload the previous message when message is deleted
  Sources/StreamChatUI/ChatMessageList/ChatMessageListCollectionView.swift
Labels: demo

#1185 Fix sorting MemberList by createdAt causing crash
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/Query/Sorting/ChannelMemberListSortingKey.swift
  Sources/StreamChat/Query/Sorting/ChannelMemberListSortingKey_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: bug, sdk:StreamChat

#1189 Add Introduction page
  docusaurus/docs/iOS/getting-started/integration.md
  docusaurus/docs/iOS/getting-started/up-running.md
  docusaurus/docs/iOS/home.md
  docusaurus/docs/iOS/introduction.md
  docusaurus/docs/iOS/introduction/getting-started.md
  docusaurus/sidebars-ios.json
Labels: docs

#1135 Update Working with Channel List guide
  docusaurus/docs/iOS/guides/working-with-channel-list.md
Labels: docs

#1125 Audit `ChatMessageErrorIndicator`
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageErrorIndicator.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageErrorIndicator_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceCustomization_usingSubclassing.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceCustomization_usingUIConfig.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageErrorIndicator_Tests/test_appearanceCustomization_usingAppearance.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageErrorIndicator_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageErrorIndicator_Tests/test_appearanceCustomization_usingSubclassing.default-dark.png
  Sources/StreamChatUI/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageErrorIndicator_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  StreamChat.xcodeproj/project.pbxproj
Labels: sdk:StreamChatUI

#1190 Add support for composer message input max length
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: sdk:StreamChatUI

#1196 Fix composer shrink input button always hidden
  Sources/StreamChatTestTools/Models/ChatChannel_Mock.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC_Tests.swift
  Sources/StreamChatUI/ChatMessageList/TitleContainerView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC+SwiftUI_Tests/test_chatMessageList_isPopulated.default-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_emptyAppearance.default-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_emptyAppearance.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_emptyAppearance.small-dark.png
  Sources/StreamChatUI/CommonViews/Suggestions/ChatCommandSuggestionView/ChatCommandSuggestionView_Tests.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: bug, sdk:StreamChatUI

#1200 [CIS-915] Introduce `score` to `ChatMessageReactionData`
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactions+Types.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionsVC.swift
Labels: sdk:StreamChatUI

#1207 Fix `image/file/link/giphy` actions not being handled in threads
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/FileAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/GalleryAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/LinkAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
Labels: bug, sdk:StreamChatUI

#1212 [CIS-933] Fix composer textView's caret jumping to the end of input
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: sdk:StreamChatUI

#1210 [CIS-932] Fix composer overlapping last message
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: sdk:StreamChatUI

#1214 [CIS-934] Fix deadlock when connectionId is requested in a nested manner
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
Labels: bug, sdk:StreamChat

#1215 [CIS-935] Expose `cid` on `Message`
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController+SwiftUI_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO_Tests.swift
  Sources/StreamChat/Models/ChatMessage_Tests.swift
  Sources/StreamChat/Models/Message.swift
  Sources/StreamChatTestTools/Models/ChatMessage_Mock.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC+SwiftUI_Tests.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC_Tests.swift
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView+SwiftUI_Tests.swift
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView_Tests.swift
  Sources/StreamChatUI/ImageGallery/ImageGalleryVC_Tests.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessagePopupVC_Tests.swift
  Tests/StreamChatUITests/ChatChannel.swift
  Tests/StreamChatUITests/ChatMessage_Tests.swift
Labels: feature, sdk:StreamChat

#1229 Undocked keyboard support
  Sources/StreamChatUI/ChatMessageList/ChatMessageListKeyboardObserver.swift
Labels: sdk:StreamChatUI

#1233 Add <ThemingNote/> doc component
  docusaurus/docs/iOS/common-content/components-note.md
  docusaurus/docs/iOS/common-content/theming-note.md
  docusaurus/docs/iOS/guides/working-with-custom-attachments.md
Labels: docs

#1238 [CIS-978] Fix deleted messages are visible in threads
  CHANGELOG.md
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
Labels: bug, sdk:StreamChat

#1236 [CIS-976] Scroll to bottom animation
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Labels: sdk:StreamChatUI
