Repository GetStream/stream-chat-swift, pull requests merged in 2021-07, with the labels that each got.

#1239 [CIS-979] Change to using partial update for enabling/disabling slow mode
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints_Tests.swift
Labels: sdk:StreamChat

#1235 [CIS-969] Date overlay jumps when loading more messages
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListScrollOverlayView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
  Sources/StreamChatUI/Utils/DateFormatter+Extensions.swift
Labels: sdk:StreamChatUI

#1241 [CIS-977] Fix flickering for messages being sent
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Labels: sdk:StreamChatUI

#1249 Add debug options to demo app
  DemoApp/ChatPresenter.swift
  DemoApp/CreateChatViewController.swift
  DemoApp/DemoAppCoordinator.swift
Labels: demo

#1248 [CIS-989] Expose extra data on built-in attachments
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO_Tests.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Attachments/AnyAttachmentPayload.swift
  Sources/StreamChat/Models/Attachments/AnyAttachmentPayload_Tests.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment_Tests.swift
  Sources/StreamChat/Models/Attachments/ChatMessageFileAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageGiphyAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageLinkAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageVideoAttachment.swift
  Sources/StreamChat/Models/Attachments/FileAttachmentPayload_Tests.swift
  Sources/StreamChat/Models/Attachments/ImageAttachmentPayload_Tests.swift
  Sources/StreamChat/Models/Attachments/VideoAttachmentPayload_Tests.swift
  Sources/StreamChat/Utils/Dictionary+Extensions.swift
  Sources/StreamChat/Workers/Background/AttachmentUploader_Tests.swift
  Sources/StreamChatTestTools/Models/Attachments/AnyAttachmentPayload_Mock.swift
  Sources/StreamChatTestTools/Models/Attachments/ChatMessageFileAttachment_Mock.swift
  Sources/StreamChatTestTools/Models/Attachments/ChatMessageImageAttachment_Mock.swift
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/DummyData/ChatMessageAttachment_Sample.swift
Labels: sdk:StreamChat

#1263 [CIS-982] Crash when thread root message is not loaded
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatThreadVC.swift
Labels: bug

#1260 [CIS-985] Fix messages changing their sizes when channel is opened
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageGalleryView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageGiphyView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/Utils/UIView+Extensions.swift
Labels: bug, sdk:StreamChatUI

#1110 [CIS-997] Fix over fetching previous messages
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater_Mock.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
Labels: sdk:StreamChatUI

#1267 [CIS-1007] Fix deleted messages appearance
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/Appearance+ColorPalette.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC_Tests.swift
  Sources/StreamChatUI/ChatMessageList/__Snapshots__/ChatMessageListVC_Tests/test_deletedMessagesWithAttachmentsAppearance.default-light.png
Labels: sdk:StreamChatUI

#1277 [CIS-1023] Fix composer buttons not shown in first render
  CHANGELOG.md
  Sources/StreamChatTestTools/Controllers/ChatChannelController_Mock.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: bug, sdk:StreamChatUI

#1287 [CIS-1032] Make `TypingIndicatorView.content` open
  Sources/StreamChatUI/ChatMessageList/TypingIndicatorView.swift
Labels: sdk:StreamChatUI

#1289 [CIS-1030] Fix crash in `ChannelListUpdater`
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/Workers/Background/DatabaseCleanupUpdater.swift
  Sources/StreamChat/Workers/Background/DatabaseCleanupUpdater_Mock.swift
  Sources/StreamChat/Workers/Background/DatabaseCleanupUpdater_Tests.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
  Sources/StreamChat/Workers/ChannelListUpdater_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: bug, sdk:StreamChat

#1291 [CIS-1035] Introduce `urlRequest(forImage)` to ImageCDN
  CHANGELOG.md
  Sources/StreamChatUI/Utils/ImageCDN.swift
  Sources/StreamChatUI/Utils/UIImageView+Extensions.swift
  fastlane/README.md
Labels: feature, sdk:StreamChatUI

#1293 [CIS-1038] Fix composer allowing whitespace only messages to be sent
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: bug, sdk:StreamChatUI

#1309 [CIS-430] [CIS-968] Custom events support
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownEvent.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UnknownEvent_Tests.swift
  Sources/StreamChat/APIClient/Endpoints/Requests/CustomEventRequestBody.swift
  Sources/StreamChat/APIClient/Endpoints/Requests/CustomEventRequestBody_Tests.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController+SwiftUI_Tests.swift
  Sources/StreamChat/Controllers/EventsController/ChannelEventsController.swift
  Sources/StreamChat/Controllers/EventsController/ChannelEventsController_Tests.swift
  Sources/StreamChat/Controllers/EventsController/EventsController.swift
  Sources/StreamChat/Controllers/EventsController/EventsController_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/Event.swift
  Sources/StreamChat/WebSocketClient/Events/EventDecoder.swift
  Sources/StreamChat/WebSocketClient/Events/EventDecoder_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload_Tests.swift
  Sources/StreamChat/WebSocketClient/Events/EventType.swift
  Sources/StreamChat/Workers/EventObservers/MemberEventObserver_Tests.swift
  Sources/StreamChat/Workers/EventSender.swift
  Sources/StreamChat/Workers/EventSender_Mock.swift
  Sources/StreamChat/Workers/EventSender_Tests.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/DummyData/TestCustomEventPayload.swift
Labels: sdk:StreamChat

#1322 [CIS-1068] Introduce AudioAttachments
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/ChatMessageAudioAttachment.swift
  Sources/StreamChat/Models/ChatMessage.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: feature, sdk:StreamChat

#1327 [CIS-1072] Fix hiding already hidden channels
  CHANGELOG.md
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater_Tests.swift
Labels: bug, sdk:StreamChat

#1328 [CIS-1073] Change ContainerStackView assertions
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/ContainerStackView.swift
Labels: sdk:StreamChatUI
