Repository GetStream/stream-chat-swift, pull requests merged in 2022-04, with the labels that each got.

#1898 [CIS-1737] Fix deadlock when accessing some properties from Events Delegate
  CHANGELOG.md
  DemoApp/DemoAppCoordinator.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#1888 [CIS-1705] Run UI tests on CI
  .github/workflows/smoke-checks.yml
  Gemfile.lock
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Requests/MessageReactionRequestPayload.swift
  Sources/StreamChat/Query/ChannelQuery.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  StreamChat.xcodeproj/xcshareddata/xcschemes/StreamChatUITestsApp.xcscheme
  StreamChatUITestsApp/StreamChat/ChannelList.swift
  StreamChatUITestsApp/StreamChat/StreamChatWrapper.swift
  StreamChatUITestsAppUITests/MockResponses/http_channel_query.json
  StreamChatUITestsAppUITests/MockResponses/http_channels.json
  StreamChatUITestsAppUITests/MockResponses/ws_health_check.json
  StreamChatUITestsAppUITests/MockServer/ChannelResponses.swift
  StreamChatUITestsAppUITests/MockServer/EventResponses.swift
  StreamChatUITestsAppUITests/MockServer/MessageDetails.swift
  StreamChatUITestsAppUITests/MockServer/MessageList.swift
  StreamChatUITestsAppUITests/MockServer/MessageResponses.swift
  StreamChatUITestsAppUITests/MockServer/MessagingResponses.swift
  StreamChatUITestsAppUITests/MockServer/MockServerAttributes.swift
  StreamChatUITestsAppUITests/MockServer/ReactionResponses.swift
  StreamChatUITestsAppUITests/MockServer/StreamMockServer.swift
  StreamChatUITestsAppUITests/MockServer/User.swift
  StreamChatUITestsAppUITests/MockServer/WebsocketResponses.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Robots/Robot+CustomAssertions.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/StreamChatUITestsApp.xctestplan
  StreamChatUITestsAppUITests/Tests/Messaging_Tests.swift
  StreamChatUITestsAppUITests/Tests/Reactions_Tests.swift
  StreamChatUITestsAppUITests/Tests/StreamTestCase.swift
  StreamChatUITestsAppUITests/Utilities/TestData.swift
  fastlane/Fastfile
Labels: 🤖 CI/CD

#1903 [Security] Update cocoapods to fix Command Injection vulnerability
  Gemfile.lock
Labels: 🏠 Meta

#1899 [CIS-1266] Some full screen photos (Live Photos) weird flicker when presented / dismissed to / from full screen
  CHANGELOG.md
  Sources/StreamChatUI/Gallery/ZoomAnimator.swift
  Sources/StreamChatUI/Gallery/ZoomDismissalInteractionController.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1904 [CIS-1729] Call read endpoint when only silent messages/thread replies are posted
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelReadDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Deprecations.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTestTools/Mocks/Models + Extensions/ChannelUnreadCount_Mock.swift
  Tests/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelReadDTO_Tests.swift
  Tests/StreamChatTests/Models/ChatChannel_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#1907 [CIS-1747] Fix audio files not rendering previews
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1913 [Docs] Add missing ChatMessageAttachment typealias in custom attachments guide
  docusaurus/docs/iOS/guides/working-with-attachments.md
Labels: 📋 Docs

#1912 [Docs] Fix broken link in push notifications guide
  docusaurus/docs/iOS/guides/push-notifications.md
Labels: 📋 Docs

#1910 [CIS-1725] Message delivery status docs
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageDeliveryStatusView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  docusaurus/docs/iOS/assets/customize-message-delivery-state-read-after.png
  docusaurus/docs/iOS/assets/customize-message-delivery-state-read-almost.png
  docusaurus/docs/iOS/assets/customize-message-delivery-state-read-before.png
  docusaurus/docs/iOS/assets/hide-message-delivery-state-after.png
  docusaurus/docs/iOS/assets/hide-message-delivery-state-before.png
  docusaurus/docs/iOS/assets/message-delivery-state-pending-send.png
  docusaurus/docs/iOS/assets/message-delivery-state-read-group.png
  docusaurus/docs/iOS/assets/message-delivery-state-read.png
  docusaurus/docs/iOS/assets/message-delivery-state-sending-failed.png
  docusaurus/docs/iOS/assets/message-delivery-state-sent.png
  docusaurus/docs/iOS/guides/customize-message-delivery-status.md
  docusaurus/docs/iOS/guides/message-list-delivery-status.md
  docusaurus/sidebars-ios.json
Labels: 📋 Docs, 🎨 SDK: StreamChatUI, ✅ Feature

#1911 [CIS-1687] Channel Header would not update its name when it is updated
  Sources/StreamChatUI/ChatChannel/ChatChannelHeaderView.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/CommonViews/ChatChannelHeaderView/ChatChannelHeaderView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/CommonViews/ChatChannelHeaderView/__Snapshots__/ChatChannelHeaderView_Tests/test_channelNameSet.default-light.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/ChatChannelHeaderView/__Snapshots__/ChatChannelHeaderView_Tests/test_channelNameSet.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/ChatChannelHeaderView/__Snapshots__/ChatChannelHeaderView_Tests/test_channelNameSet.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/ChatChannelHeaderView/__Snapshots__/ChatChannelHeaderView_Tests/test_channelNameSet.small-dark.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1924 [CIS-1624] Fix not watching channel when added as a member
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
  Tests/StreamChatTestTools/SpyPattern/Spy/ChannelListUpdater_Spy.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Workers/ChannelListUpdater_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1925 [CIS-1764] Fix connection recovery issues
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  Tests/StreamChatTestTools/SpyPattern/Spy/SyncRepository_Spy.swift
  Tests/StreamChatTests/Repositories/SyncOperations_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
  Tests/StreamChatTests/Workers/Background/ConnectionRecoveryHandler_Tests.swift
  Tests/StreamChatTests/Workers/ChatClientUpdater_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1931 [CIS-1775] Fix message author name not shown in channels with > 2 members
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_chatChannel_isPopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_deletedMessagesVisibilityWhenAlwaysVisible.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_deletedMessagesWithAttachmentsAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_staticDateSeparatorsAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenTimeIntervalBetween2MessagesFromAnotherUserIs1minOrLess_messagesAreGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenTimeIntervalBetween2MessagesFromAnotherUserIsMoreThan1min_messagesAreNotGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_chatThreadVC_isPopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_defaultAppearance.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1934 [CIS-1776] Fix unusable firebase push provider
  .slather.yml
  CHANGELOG.md
  DemoApp/AppDelegate.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Database/DTOs/DeviceDTO.swift
  Sources/StreamChat/Models/Device.swift
  Sources/StreamChat/Models/PushDevice.swift
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTestTools/Mocks/StreamChat/Workers/CurrentUserUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
  docusaurus/docs/iOS/guides/push-notifications.md
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1943 Fix crashes when sending a message
  Sources/StreamChat/Controllers/EntityDatabaseObserver.swift
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
Labels: 🐞 Bug, ❗️ High Priority

#1941 Update README to include SDK size badges
  README.md
Labels: 🏠 Meta

#1946 [CIS-1787] Crash when trying zoom transition on failed to upload attachments.
  README.md
  Sources/StreamChatUI/Gallery/ZoomAnimator.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Extensions/HttpServer.swift
  StreamChatUITestsAppUITests/MockResponses/http_channel_query.json
  StreamChatUITestsAppUITests/MockServer/ChannelResponses.swift
  StreamChatUITestsAppUITests/MockServer/EventResponses.swift
  StreamChatUITestsAppUITests/MockServer/MessageList.swift
  StreamChatUITestsAppUITests/MockServer/MessageResponses.swift
  StreamChatUITestsAppUITests/MockServer/MockServerAttributes.swift
  StreamChatUITestsAppUITests/MockServer/ReactionResponses.swift
  StreamChatUITestsAppUITests/MockServer/StreamMockServer.swift
  StreamChatUITestsAppUITests/MockServer/User.swift
  StreamChatUITestsAppUITests/MockServer/WebsocketResponses.swift
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Reactions_Tests.swift
  StreamChatUITestsAppUITests/Utilities/TestData.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1908 Improve clarity and redundancy of PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏠 Meta

#1948 [CIS-1724] Fix `only visible for you` badge not shown for ephemeral messages
  CHANGELOG.md
  Examples/SlackClone/SlackChatMessageContentView.swift
  Examples/YouTubeClone/MessageOptionsResolver/YTMessageLayoutOptionsResolver.swift
  Examples/YouTubeClone/YTChatMessageContentView.swift
  Examples/iMessageClone/iMessageChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptions.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/Utils/ChatMessage+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  Tests/StreamChatUITests/ChatMessage_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/UISDKdocumentationTests/ChatMessageContentView_Documentation_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1944 [CIS-1589] Add support for custom reactions sorting
  CHANGELOG.md
  DemoApp/CustomMessageContentView.swift
  DemoApp/DemoAppCoordinator.swift
  Sources/StreamChatUI/Appearance+Images.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionsPickerVC.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionsView.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessagePopupVC.swift
  Sources/StreamChatUI/Navigation/ChatMessageListRouter.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionsView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenBigIcons.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenBigIcons.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenBigIcons.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenBigIcons.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenCustomSorting.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenSmallIcons.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenSmallIcons.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenSmallIcons.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenSmallIcons.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessagePopupVC_Tests.swift
  docusaurus/docs/iOS/uikit/views/reactions.md
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#1894 [Feature Branch] Enable SwiftLint
  .swiftlint.yml
  DemoApp/AppConfigViewController/AppConfigViewController.swift
  DemoApp/ChatPresenter.swift
  DemoApp/CustomMessageContentView.swift
  DemoApp/DemoUsers.swift
  DemoAppPush/NotificationService.swift
  Examples/YouTubeClone/YTLiveVideoViewController.swift
  Examples/iMessageClone/iMessageChatChannelListViewController.swift
  Sources/StreamChat/APIClient/RequestEncoder.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Config/BaseURL.swift
  Sources/StreamChat/Controllers/DataController.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelHeaderView.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC+SwiftUI.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/LinkAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListScrollOverlayView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/ChatMessageReactionAuthorsVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadHeaderView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Deprecations.swift
  Sources/StreamChatUI/Gallery/Cells/GalleryCollectionViewCell.swift
  Sources/StreamChatUI/Gallery/GalleryVC.swift
  Sources/StreamChatUI/Gallery/VideoPlaybackControlView.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Sources/StreamChatUI/Utils/DateUtils.swift
  Sources/StreamChatUI/Utils/NukeImageProcessor.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleChannelsViewController.swift
  StreamChatSample/Samples/LogsViewController.swift
  StreamChatSample/Samples/SettingsViewController.swift
  StreamChatSample/Samples/SimpleChat/Views/ComposerView.swift
  StreamChatUITestsApp/AppDelegate.swift
  StreamChatUITestsApp/StreamChat/ChannelList.swift
  StreamChatUITestsApp/StreamChat/StreamChatWrapper.swift
  StreamChatUITestsApp/ViewController.swift
  StreamChatUITestsAppUITests/Extensions/String.swift
  StreamChatUITestsAppUITests/MockServer/MessageDetails.swift
  StreamChatUITestsAppUITests/MockServer/MessageList.swift
  StreamChatUITestsAppUITests/MockServer/MessagingResponses.swift
  StreamChatUITestsAppUITests/MockServer/MockServerAttributes.swift
  StreamChatUITestsAppUITests/MockServer/WebsocketResponses.swift
  StreamChatUITestsAppUITests/Pages/ChannelListPage.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Pages/StartPage.swift
  StreamChatUITestsAppUITests/Robots/DeviceRobot.swift
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Robots/Robot+CustomAssertions.swift
  StreamChatUITestsAppUITests/Utilities/LaunchArgument.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
Labels: 🏠 Meta

#1954 [CIS-1795] Upload test results to Allure TestOps
  .github/workflows/smoke-checks.yml
  .gitignore
  Scripts/bootstrap.sh
  Scripts/installAllureDependencies.sh
  fastlane/Fastfile
  fastlane/README.md
Labels: 🤖 CI/CD

#1960 Add `nonEmpty` filter for channel list query
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
Labels: 🌐 SDK: StreamChat (LLC)
