Repository GetStream/stream-chat-swift, pull requests merged in 2022-09, with the labels that each got.

#2263 [CIS-2151] Fix messages not inserted on iOS 12
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  Tests/StreamChatTests/Controllers/MemberListController/MemberListController_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2267 [CIS-2159] Fix message list not reloading skipped messages
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2269 [CIS-2162] Fix message list crash when inserting message in empty list [iOS <15]
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  TestTools/StreamChatTestTools/Extensions/Unique/ChannelId+Unique.swift
  TestTools/StreamChatTestTools/Extensions/Unique/ChatUser+Unique.swift
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatMessage_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2257 [CIS-1653] Introducing QA for PRs
  .github/PULL_REQUEST_TEMPLATE.md
  Dangerfile
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  fastlane/Allurefile
Labels: 🟢 QAed

#2297 [CIS-1583] Fix Thread not loading more replies
  CHANGELOG.md
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2304 [CIS-2176] Fix Message List UI updates for same reaction type changes
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/Controllers/ChatChannelController_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenReactionIsAddedByCurrentUserWithSameType_shouldUpdateReactionColor.default-light-after-current-user-reaction.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenReactionIsAddedByCurrentUserWithSameType_shouldUpdateReactionColor.default-light-before-current-user-reaction.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2317 [CIS-2201] Expose channel own capabilities
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelCodingKeys.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Channel.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Channel.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannel_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChannelDetailPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/IdentifiablePayload_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Models/ChatChannel_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed
