Repository GetStream/stream-chat-swift, pull requests merged in 2022-05, with the labels that each got.

#1966 [Docs] Add doc to customize shared component only in one view
  docusaurus/docs/iOS/assets/bordered-avatars.png
  docusaurus/docs/iOS/assets/bordered-quote-avatar.png
  docusaurus/docs/iOS/assets/default-avatars.png
  docusaurus/docs/iOS/assets/rect-avatars.png
  docusaurus/docs/iOS/uikit/custom-components.md
Labels: 📋 Docs

#1962 [CIS-1797] Create custom lanes to interact with Allure TestOps
  .github/workflows/smoke-checks.yml
  fastlane/Allurefile
  fastlane/Fastfile
  fastlane/README.md
Labels: 🤖 CI/CD

#1967 [Docs] Improve channel-list components documentation
  docusaurus/docs/iOS/uikit/components/channel-list.md
  docusaurus/docs/iOS/uikit/controllers/channels.md
Labels: 📋 Docs

#1972 [SwiftLint] Fix swiftlint linting external dependencies
  .swiftlint.yml
Labels: 🏠 Meta, 🤖 CI/CD

#1956 [CIS-1732] Fix message grouping issues
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenMessageFromCurrentUserIsFollowedByEphemeralMessage_messagesAreNotGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenMessageFromCurrentUserIsFollowedByErrorMessage_messagesAreNotGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenMessageFromCurrentUserIsFollowedBySystemMessage_messagesAreNotGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#1975 [CIS-1219, CIS-1602] Fix message popup UI glitch for big messages and iPad/Landscape
  .github/workflows/smoke-checks.yml
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/ContainerStackView.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessagePopupVC.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingAppearance.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingSubclassing.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_defaultAppearance_when_largeLongMessage.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_defaultAppearance_when_largeLongMessage.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1978 [CIS-1763] Fix unread counts bumping logic
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelMuteDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTestTools/Mocks/Models + Extensions/ChannelUnreadCount_Mock.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  Tests/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelMuteDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/Models/ChatChannel_Tests.swift
  Tests/StreamChatTests/StreamChatIntegrationTests/ChannelEvents_IntegrationTests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#1982 Fix feedback loop in ContainerStackView
  Sources/StreamChatUI/CommonViews/ContainerStackView.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionControl.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1979 [CIS-1827] Expose `actions` on image attachment payload
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Tests/StreamChatTests/Models/Attachments/ImageAttachmentPayload_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#1981 [CIS-1458] Speed up bootstrap action
  .github/actions/bootstrap/action.yml
  .github/actions/set-build-image-var/action.yml
  .github/workflows/distribute-test-build.yml
  .github/workflows/emerge.yml
  .github/workflows/publish-release.yml
  .github/workflows/smoke-checks.yml
  .github/workflows/testflight.yml
  Gemfile.lock
  Scripts/bootstrap.sh
  Scripts/installAllureDependencies.sh
  StreamChat.xcodeproj/project.pbxproj
  fastlane/Sonarfile
Labels: 🤖 CI/CD

#1986 [CIS-1829] Call `channel/read` endpoint only when unread
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1988 Adds a way to query for channels with no teams
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Filter.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#1992 [CIS-1849] Fix making new thread reply a channel preview
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1987 Update UI tests and Allurefile to avoid flakiness on CI
  .github/workflows/smoke-checks.yml
  StreamChatUITestsAppUITests/MockServer/MessageResponses.swift
  StreamChatUITestsAppUITests/MockServer/ReactionResponses.swift
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  fastlane/Allurefile
Labels: 🤖 CI/CD

#1996 [CIS-1857] Fix showing errors and ephemeral messages in channel preview
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#1998 Fix a couple broken links.
  docusaurus/docs/iOS/guides/message-composer-custom-attachments.md
  docusaurus/docs/iOS/uikit/components/message-composer.md
Labels: 📋 Docs

#2001 [CIS-1862] Fix not scrolling to bottom when inserting own message
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2004 Fix StreamChatTestToolsTests not compiling
  StreamChat.xcodeproj/project.pbxproj
Labels: 🐞 Bug, 🤖 CI/CD

#2008 Fix mac-os version in release workflow
  .github/workflows/publish-release.yml
Labels: 🤖 CI/CD

#2010 4.15.0 Release
  .github/workflows/publish-release.yml
  fastlane/Fastfile
Labels: 🤖 CI/CD

#2012 [CIS-1822] Publish release build on Testflight for regression testing
  .github/workflows/smoke-checks.yml
  .github/workflows/testflight.yml
  Scripts/bootstrap.sh
  fastlane/Fastfile
Labels: 🤖 CI/CD

#2015 [BW] Fix smoke-checks on push
  fastlane/Fastfile
Labels: 🤖 CI/CD

#1953 [CIS-1479] Add Slow Mode Support
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Utils/CountdownTracker.swift
  Sources/StreamChat/Utils/StreamTimer/ScheduledStreamTimer.swift
  Sources/StreamChat/Utils/StreamTimer/StreamTimer.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/CommonViews/SendButton/CooldownView.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Composer/ComposerView.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/MockServer/ChannelConfig.swift
  StreamChatUITestsAppUITests/MockServer/ChannelResponses.swift
  StreamChatUITestsAppUITests/MockServer/MockServerAttributes.swift
  StreamChatUITestsAppUITests/MockServer/StreamMockServer.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/BackendRobot.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/SlowMode_Tests.swift
  StreamChatUITestsAppUITests/Tests/StreamTestCase.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/Utils/ScheduledStreamTimer_Mock.swift
  Tests/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Utils/CooldownTracker_Tests.swift
  Tests/StreamChatUITests/Mocks/Utils/CooldownTracker_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC+SwiftUI_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.small-dark.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2016 [CIS-1873] Wait for last events batch to be processed to disconnect
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/ConnectionController/ConnectionController.swift
  Sources/StreamChat/Utils/EventBatcher.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Sources/StreamChat/Workers/Background/ConnectionRecoveryHandler.swift
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  StreamChatUITestsApp/StreamChat/StreamChatWrapper.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/ChatClientUpdater_Mock.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/Utils/EventBatcher_Mock.swift
  Tests/StreamChatTestTools/Mocks/StreamChat/WebSocketClient/WebSocketClient_Mock.swift
  Tests/StreamChatTests/Controllers/ConnectionController/ConnectionController_Tests.swift
  Tests/StreamChatTests/Controllers/SearchControllers/UserSearchController/UserSearchController_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
  Tests/StreamChatTests/Utils/EventBatcher_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketClient_Tests.swift
  Tests/StreamChatTests/Workers/ChatClientUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2019 [CIS-1888] Fix DM Channel with multiple members displaying only 1 user avatar
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/AvatarView/ChatChannelAvatarView.swift
  Tests/StreamChatTestTools/Mocks/Models + Extensions/ChatChannel_Mock.swift
  Tests/StreamChatTestTools/TestData/DummyData/ChatChannel.swift
  Tests/StreamChatUITests/SnapshotTests/CommonViews/AvatarView/ChatChannelAvatarView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearance_withDirectMessageChannel_whenMultipleMembers.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearance_withDirectMessageChannel_whenMultipleMembers.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2011 [CIS-1869] Fix launching DemoApp in offline state
  CHANGELOG.md
  DemoApp/AppDelegate.swift
  DemoApp/DemoAppCoordinator.swift
  DemoApp/DemoChatChannelListRouter.swift
  DemoApp/DemoUsers.swift
  DemoApp/LoginViewController.swift
  DemoApp/SceneDelegate.swift
  DemoApp/UserDefaults+Shared.swift
  DemoAppPush/NotificationService.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Sources/StreamChatUI/Navigation/ChatChannelListRouter.swift
  StreamChat.xcodeproj/project.pbxproj
  docusaurus/docs/iOS/uikit/components/channel-list.md
Labels: 🪧 Demo App

#2026 [CIS-1918] Add documentation on how to add interaction to custom attachments
  docusaurus/docs/iOS/guides/working-with-attachments.md
Labels: 📋 Docs

#2022 [BW] Fix flaky UI test for Slow mode.
  StreamChatUITestsAppUITests/Tests/SlowMode_Tests.swift
Labels: 🎨 SDK: StreamChatUI

#2006 Introduce `ListChangeUpdater` to have consistent updates in list components
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/CollectionViewListChangeUpdater.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/ListChangeIndexPathResolver.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/ListChangeUpdater.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/TableViewListChangeUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/ListChangeAggregator_Tests.swift
  Tests/StreamChatUITests/Helpers/SnapshotTesting/AssertSnapshot.swift
  Tests/StreamChatUITests/Helpers/SnapshotTesting/SnapshotVariant.swift
  Tests/StreamChatUITests/Utils/ListChangeUpdater/CollectionViewListChangeUpdater_Tests.swift
  Tests/StreamChatUITests/Utils/ListChangeUpdater/ListChangeIndexPathResolver_Tests.swift
  Tests/StreamChatUITests/Utils/ListChangeUpdater/TableViewListChangeUpdater_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ⚡ Performance

#2029 [CIS-1885] Support ephemeral messages on MockServer
  Sources/StreamChat/APIClient/Endpoints/Requests/AttachmentActionRequestBody.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/BackendRobot.swift
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Robots/Robot+CustomAssertions.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  StreamChatUITestsAppUITests/Tests/SlowMode_Tests.swift
  TestTools/StreamChatTestMockServer/Fixtures/JSONs/http_message_ephemeral.json
  TestTools/StreamChatTestMockServer/Fixtures/JSONs/ws_message.json
  TestTools/StreamChatTestMockServer/MockServer/MessageList.swift
  TestTools/StreamChatTestMockServer/MockServer/MessageResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/MockServerAttributes.swift
  TestTools/StreamChatTestMockServer/MockServer/ReactionResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/StreamMockServer.swift
  TestTools/StreamChatTestMockServer/MockServer/User.swift
  TestTools/StreamChatTestMockServer/MockServer/WebsocketResponses.swift
Labels: 🤖 CI/CD

#2033 [CIS-1911] Remove smoke checks on push
  .github/workflows/smoke-checks.yml
Labels: 🤖 CI/CD
