Repository GetStream/stream-chat-swift, pull requests merged in 2022-02, with the labels that each got.

#1787 [CIS-1553] Fix Message Input Accessibility for Large Text
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_chatChannel_isPopulated.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_deletedMessagesWithAttachmentsAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.small-dark.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.default-light.png
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_staticDateSeparatorsAppearance.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_chatThreadVC_isPopulated.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_emptyAppearance.default-light.png
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.default-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.rightToLeftLayout-default.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.small-dark.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.default-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.rightToLeftLayout-default.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.small-dark.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.default-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.rightToLeftLayout-default.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.small-dark.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.default-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.rightToLeftLayout-default.png
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.small-dark.png
Labels: bug, sdk:StreamChatUI

#1784 [CIS-1393] Fix crash on iOS 12 when local storage enabled
  CHANGELOG.md
  Examples/SlackClone/ChatClient.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO_Tests.swift
  Sources/StreamChat/Database/DatabaseContainer_Tests.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  StreamChat.xcodeproj/project.pbxproj
Labels: bug, sdk:StreamChat

#1786 [CIS-1420] Fix `ChannelListController.loadNextChannels` using incorrect `limit`
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: bug, sdk:StreamChat

#1800 [CIS-1582] Fix `ChatMentionSuggestionView` permanently hiding subviews
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/CommonViews/Suggestions/ChatMentionSuggestionView/ChatMentionSuggestionView.swift
  Sources/StreamChatUI/CommonViews/Suggestions/ChatMentionSuggestionView/ChatMentionSuggestionView_Tests.swift
  Sources/StreamChatUI/CommonViews/Suggestions/ChatMentionSuggestionView/__Snapshots__/ChatMentionSuggestionView_Tests/test_whenUserThatHasNameIsAssignedAfterUserWithoutName_usernameLabelGetsShown.default-light-with-name.png
  Sources/StreamChatUI/CommonViews/Suggestions/ChatMentionSuggestionView/__Snapshots__/ChatMentionSuggestionView_Tests/test_whenUserThatHasNameIsAssignedAfterUserWithoutName_usernameLabelGetsShown.default-light-without-name.png
Labels: bug, sdk:StreamChatUI

#1770 [CIS-1288] Add Support for Message List Data Source Diffing (Experimental)
  CHANGELOG.md
  DemoApp/DemoAppCoordinator.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDataSource.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
Labels: sdk:StreamChatUI

#1803 [CIS-1581] Fix showing channel watchers in @ suggestions
  CHANGELOG.md
  Package.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Sources/StreamChatUI/CommonViews/Suggestions/ChatSuggestionsVC.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Composer/ComposerVC_Tests.swift
  Sources/StreamChatUI/Composer/__Snapshots__/ComposerVC_Tests/test_whenSuggestionsLookupIsLocal_onlyChannelMembersAreShown.default-light.png
  Sources/StreamChatUI/Utils/ChatChannelNamer_Tests.swift
Labels: bug, sdk:StreamChatUI

#1812 [CIS-1522] Fix Memory Leaks when opening and closing channels
  CHANGELOG.md
  DemoApp/BannerShowingConnectionDelegate.swift
  DemoApp/DemoAppCoordinator.swift
  DemoApp/LoginViewController.swift
  Sources/StreamChat/WebSocketClient/Engine/URLSessionWebSocketEngine.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/TypingStartCleanupMiddleware.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/TypingStartCleanupMiddleware_Tests.swift
  Sources/StreamChat/Workers/UserListUpdater.swift
  Sources/StreamChat/Workers/UserListUpdater_Tests.swift
  Sources/StreamChatUI/Gallery/VideoPlaybackControlView.swift
  Sources/StreamChatUI/Navigation/ChatMessageListRouter.swift
Labels: bug, !important
