Repository GetStream/stream-chat-swift, pull requests merged in 2022-03, with the labels that each got.

#1814 [CIS-1558] Add increased logging for CoreData crashes
  CHANGELOG.md
  Sources/StreamChat/Utils/CoreDataLazy.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
Labels: sdk:StreamChat

#1837 [CIS-1648] [Docs] Improve formatter customization examples
  docusaurus/docs/iOS/uikit/data-formatting.md
Labels: docs

#1841 [CIS-1649] Fix blurred avatar views when using image merger
  .github/workflows/smoke-checks.yml
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_chatChannelList_isPopulated.default-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_chatChannelList_isPopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_chatChannelList_isPopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_chatChannelList_isPopulated.small-dark.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_appearanceCustomization_usingComponents.default-dark.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_appearanceCustomization_usingComponents.default-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_appearanceCustomization_usingSubclassing.default-dark.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_defaultAppearance.default-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Sources/StreamChatUI/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_defaultAppearance.small-dark.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithFourMembersInNonDMChannel.default-dark.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithFourMembersInNonDMChannel.default-light.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithThreeMembersInNonDMChannel.default-dark.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithThreeMembersInNonDMChannel.default-light.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithTwoMembersInNonDMChannel.default-dark.png
  Sources/StreamChatUI/CommonViews/AvatarView/__Snapshots__/ChatChannelAvatarView_Tests/test_defaultAppearanceWithTwoMembersInNonDMChannel.default-light.png
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withLongTextAppearance.default-light.png
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withLongTextAppearance.extraExtraExtraLarge-light.png
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withLongTextAppearance.rightToLeftLayout-default.png
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withLongTextAppearance.small-dark.png
  Sources/StreamChatUI/Utils/ImageMerger.swift
  Tests/StreamChatUITests/AssertSnapshot.swift
Labels: bug, sdk:StreamChatUI

#1824 [CIS-1627] Fix MessageSearchController not respecting sorting
  CHANGELOG.md
  Package.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController_Tests.swift
  Sources/StreamChat/Controllers/SearchControllers/UserSearchController/UserSearchController.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageSearchQueryDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/DatabaseSession_Mock.swift
  Sources/StreamChat/Query/MessageSearchQuery.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater_Mock.swift
  Sources/StreamChat/Workers/UserListUpdater.swift
  Sources/StreamChatTestTools/DatabaseContainer_Mock.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: bug, sdk:StreamChat

#1851 [CIS-1628] Change default message deleted visibility
  CHANGELOG.md
  DemoApp/AppConfigViewController/AppConfigViewController.swift
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Controllers/MessageController/MessageController_Tests.swift
  Sources/StreamChatUI/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_deletedMessagesWithAttachmentsAppearance.default-light.png
Labels: sdk:StreamChatUI

#1873 [CIS-1592] Fix file mime-types and attachment type
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatTests/Models/Attachments/AttachmentTypes_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#1869 [CIS-1695] Fix command with no arg can be sent without text
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.small-dark.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1876 [CIS-1699] Fix pasting long text into composer won't update input height
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1867 [CIS-1694] Introduce message translations
  CHANGELOG.md
  DemoApp/CustomMessageContentView.swift
  DemoApp/DemoAppCoordinator.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath+OfflineRequest.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath.swift
  Sources/StreamChat/APIClient/Endpoints/MessageEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessageTranslationsPayload.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Utils/TranslationLanguage.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/Shared/MockEnpointResponses/Message.json
  Tests/Shared/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTestTools/DummyData/MessagePayload.swift
  Tests/StreamChatTestTools/Models/ChatMessage_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/MessageEndpoints_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController+SwiftUI_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#1877 [CIS-1702] Add Mixed Attachments UI Support
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/MixedAttachmentViewInjector.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentsPreviewVC.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Deprecations.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/Shared/WaitUntil.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.small-dark.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#1880 [CIS-1189] Fix long file names overlapped by the close button
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatFileAttachmentListView+ItemView.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentViews/FileAttachmentView.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTestTools/Models/Attachments/AnyAttachmentPayload_Mock.swift
  Tests/StreamChatTestTools/Models/Attachments/yoda_with_long_file_name.txt
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withLongFileNames.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#1883 [Docs] Move UI Kit Customizing Components doc to main level
  docusaurus/docs/iOS/common-content/components-note.md
  docusaurus/docs/iOS/uikit/custom-components.md
  docusaurus/sidebars-ios.json
Labels: 📋 Docs
