Repository GetStream/stream-chat-swift, pull requests merged in 2022-11, with the labels that each got.

#2369 [CIS-2262] Allow changing attachment info with custom CDN
  CHANGELOG.md
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/AttachmentUploader/AttachmentUploader.swift
  Sources/StreamChat/APIClient/AttachmentUploader/UploadedAttachment.swift
  Sources/StreamChat/APIClient/CDNClient/CDNClient.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/FileUploadPayload.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Models/Attachments/AnyAttachmentUpdater.swift
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Sources/StreamChat/Workers/Background/AttachmentQueueUploader.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChatUI/CommonViews/Attachments/AttachmentPreviewProvider.swift
  Sources/StreamChatUI/Utils/ImageLoading/ImageLoading.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatSample/Samples/SimpleChat/Views/ImageAttachmentCell.swift
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/Attachments/AnyAttachmentPayload_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/APIClient_Spy.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/AttachmentUploader_Spy.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChatMessageAttachment.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MessageAttachmentPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/UploadedAttachment.swift
  Tests/StreamChatTests/APIClient/APIClient_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/FileUploadPayload_Tests.swift
  Tests/StreamChatTests/APIClient/StreamAttachmentUploader_Tests.swift
  Tests/StreamChatTests/APIClient/StreamCDNClient_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Models/Attachments/AnyAttachmentPayload_Tests.swift
  Tests/StreamChatTests/Models/Attachments/AnyAttachmentUpdater_Tests.swift
  Tests/StreamChatTests/Models/Attachments/ImageAttachmentPayload_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
  Tests/StreamChatTests/Workers/Background/AttachmentQueueUploader_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  docusaurus/docs/iOS/cheat-sheet.md
  docusaurus/docs/iOS/client/custom-cdn.md
  docusaurus/docs/iOS/ui-cheat-sheet.md
  docusaurus/docs/iOS/uikit/guides/message-composer-custom-attachments.md
  docusaurus/sidebars-ios.json
Labels: 🌐 SDK: StreamChat (LLC), ✨ Enhancement

#2373 [CIS-2295] Add support for hiding connection status with `isInvisible`
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Shared/StreamChatWrapper.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/CurrentUser.swift
  Sources/StreamChat/Models/UserInfo.swift
  Sources/StreamChat/WebSocketClient/WebSocketConnectPayload.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/CurrentUser.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/CurrentChatUser_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/CurrentUserPayloads_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/CustomDataHashMap_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/WebSocketConnectEndpoint_Tests.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketConnectPayload_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#2393 [CIS-2287] Fix connecting user with non-expiring tokens
  CHANGELOG.md
  Sources/StreamChat/Config/Token.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Config/Token_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
