Repository GetStream/stream-chat-swift, pull requests merged in 2022-08, with the labels that each got.

#2187 CIS-1010 Channel List States
  CHANGELOG.md
  DemoApp/DemoAppCoordinator.swift
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChatUI/Appearance+Images.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListEmptyView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListErrorView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListLoadingView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListLoadingViewCell.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListLoadingViewCellContentView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/CommonViews/SkeletonLoadable.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/Assets.xcassets/empty_channel_list_message_bubble.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/empty_channel_list_message_bubble.imageset/empty_channel_list_message_bubble.svg
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListEmptyView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListErrorView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingSubclassing.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingSubclassing.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_appearanceCustomization_usingSubclassing.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListEmptyView_Tests/test_defaultAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingSubclassing.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingSubclassing.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_appearanceCustomization_usingSubclassing.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListErrorView_Tests/test_defaultAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_emptyAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_emptyAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListVC_Tests/test_emptyAppearance.small-dark.png
  docusaurus/docs/iOS/assets/channel-list-custom-error-view.png
  docusaurus/docs/iOS/assets/channel-list-empty-view.png
  docusaurus/docs/iOS/assets/channel-list-error-view.png
  docusaurus/docs/iOS/assets/channel-list-loading-view.png
  docusaurus/docs/iOS/uikit/components/channel-list.md
Labels: 🔧 WIP, 🎨 SDK: StreamChatUI

#2215 Fix Docs Extra Data Section
  docusaurus/sidebars-ios.json
Labels: 📋 Docs

#2227 [CIS-2014] Support message hard/soft deletion in Mock Server
  Package.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsApp/Settings.swift
  StreamChatUITestsApp/StreamChat/MessageActionsVC.swift
  StreamChatUITestsApp/StreamChat/StreamChatWrapper.swift
  StreamChatUITestsApp/ViewController.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Pages/Settings.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Ephemeral_Messages_Tests.swift
  StreamChatUITestsAppUITests/Tests/Message Delivery Status/MessageDeliveryStatus_Tests.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Reactions_Tests.swift
  TestTools/StreamChatTestMockServer/MockServer/MessageResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/MockServerAttributes.swift
  TestTools/StreamChatTestMockServer/MockServer/WebsocketResponses.swift
  TestTools/StreamChatTestMockServer/Robots/ParticipantRobot.swift
Labels: 🤖 CI/CD

#2239 [CIS-1591] Fix message list scrolling when popping from navigation stack
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2250 Move all messager sender tests to flaky test plan
  CHANGELOG.md
  Tests/StreamChatTests/StreamChatFlakyTests.xctestplan
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
Labels: 🏠 Meta

#2252 Fix deadlock caused by ListDatabaseObserver.startObserving() changes
  CHANGELOG.md
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2259 Fix parsing `member` field in `notification.removed_from_channel` event
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/IdentifiablePayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/MemberEventMiddleware.swift
  Sources/StreamChat/WebSocketClient/Events/MemberEvents.swift
  Sources/StreamChat/WebSocketClient/Events/NotificationEvents.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationRemovedFromChannel.json
  TestTools/StreamChatTestTools/TestData/DummyData/MemberPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MemberPayload_Tests.swift
  Tests/StreamChatTests/Controllers/MemberListController/MemberListController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelReadDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MemberModelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseSession_Tests.swift
  Tests/StreamChatTests/ListChange_Tests.swift
  Tests/StreamChatTests/Query/ChannelMemberListQuery_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/MemberEventMiddleware_Tests.swift
  Tests/StreamChatTests/WebSocketClient/Events/MemberEvents_Tests.swift
  Tests/StreamChatTests/WebSocketClient/Events/NotificationEvents_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberListUpdater_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
