Repository GetStream/stream-chat-swift, pull requests merged in 2022-06, with the labels that each got.

#2041 [BW] Workaround for flaky UI tests
  StreamChatUITestsAppUITests/Robots/ParticipantRobot.swift
  StreamChatUITestsAppUITests/Robots/Robot+CustomAssertions.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Base TestCase/StreamTestCase.swift
  StreamChatUITestsAppUITests/Tests/ChannelList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Message Delivery Status/MessageDeliveryStatus+ChannelList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Message Delivery Status/MessageDeliveryStatus_Tests.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Reactions_Tests.swift
  StreamChatUITestsAppUITests/Tests/SlowMode_Tests.swift
  TestTools/StreamChatTestMockServer/MockServer/MessageList.swift
  TestTools/StreamChatTestMockServer/MockServer/MessageResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/StreamMockServer.swift
  TestTools/StreamChatTestMockServer/MockServer/WebsocketResponses.swift
Labels: 🤖 CI/CD

#2044 Fix Message List indexPaths for Updates
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/WebSocketClient/Events/Event.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Tests/StreamChatTests/APIClient/APIClient_Tests.swift
  Tests/StreamChatTests/APIClient/RequestEncoder_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Controllers/SearchControllers/UserSearchController/UserSearchController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/ListChangeAggregator_Tests.swift
  Tests/StreamChatTests/ListChange_Tests.swift
  Tests/StreamChatTests/Repositories/MessageRepository_Tests.swift
  Tests/StreamChatTests/Repositories/OfflineRequestsRepository_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
  Tests/StreamChatTests/Utils/MulticastDelegate_Tests.swift
  Tests/StreamChatTests/Utils/Operations/AsyncOperation_Tests.swift
  Tests/StreamChatTests/Workers/ChannelListUpdater_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#2031 [CIS-1185] Token provider
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Config/TokenProvider.swift
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  TestTools/StreamChatTestTools/Extensions/UserConnectionProvider+Invalid.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  Tests/StreamChatTests/Config/TokenProvider_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
  Tests/StreamChatTests/Workers/ChatClientUpdater_Tests.swift
  docusaurus/docs/iOS/uikit/getting-started.md
Labels: 📋 Docs, 🌐 SDK: StreamChat (LLC)

#2048 [SWUI-179][Testing Strategy] Share Robots with SwiftUI
  Package.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Pages/Settings.swift
  StreamChatUITestsAppUITests/Robots/DeviceRobot.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Base TestCase/StreamTestCase.swift
  StreamChatUITestsAppUITests/Tests/ChannelList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Message Delivery Status/MessageDeliveryStatus+ChannelList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Message Delivery Status/MessageDeliveryStatus_Tests.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  StreamChatUITestsAppUITests/Tests/Reactions_Tests.swift
  TestTools/StreamChatTestMockServer/MockServer/ChannelResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/StreamMockServer.swift
  TestTools/StreamChatTestMockServer/Robots/BackendRobot.swift
  TestTools/StreamChatTestMockServer/Robots/ParticipantRobot.swift
  fastlane/README.md
Labels: 🤖 CI/CD

#2056 Multiple fixes for channel hiding/appearing logic
  CHANGELOG.md
  DemoApp/DemoAppCoordinator.swift
  DemoApp/DemoChatChannelListRouter.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelVisibilityEventMiddleware.swift
  Sources/StreamChat/WebSocketClient/Events/ChannelEvents.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload.swift
Labels: 🐞 Bug

#2075 Fix crash when participant hard deletes message
  CHANGELOG.md
  Sources/StreamChat/Database/DatabaseSession.swift
  Tests/StreamChatTests/Database/DatabaseSession_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2076 Revert ListChangeAggregator newIndexPath on Updates
  CHANGELOG.md
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
  Sources/StreamChat/WebSocketClient/Events/Event.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/CollectionViewListChangeUpdater.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/ListChangeIndexPathResolver.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/TableViewListChangeUpdater.swift
  Tests/StreamChatTests/ListChangeAggregator_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  Tests/StreamChatUITests/Utils/ListChangeIndexPathResolver_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2074 Fix possible deadlock in `CurrentChatUser` functions
  CHANGELOG.md
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2082 Message Action title now supports 2 lines of text instead of 1
  CHANGELOG.md
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionControl.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessagePopupVC.swift
  Sources/StreamChatUI/Utils/UILabel+Extensions.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessageActionControl_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessageActionControl_Tests/test_defaultMultilineAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessageActionControl_Tests/test_defaultMultilineAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessageActionControl_Tests/test_defaultMultilineAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessageActionControl_Tests/test_defaultMultilineAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingAppearance.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingSubclassing.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_defaultAppearance_when_largeLongMessage.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_defaultAppearance_when_largeLongMessage.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2083 Fix Logger persisting config after usage
  CHANGELOG.md
  Sources/StreamChat/Utils/Logger/Logger.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2080 [CIS-425] Thread typing indicators
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Workers/TypingEventsSender.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  TestTools/StreamChatTestMockServer/MockServer/WebsocketResponses.swift
  TestTools/StreamChatTestMockServer/Robots/ParticipantRobot.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/TypingEventsSender_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/ChannelEndpoints_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Workers/TypingEventSender_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature

#2084 Improve JSON parsing performance
  CHANGELOG.md
  Sources/StreamChat/Utils/Codable+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Fixtures/JSONs/BigChannelListPayload.json
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2095 Fix ChannelListSortingKey.unreadCount crash
  CHANGELOG.md
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Query/Sorting/ChannelListSortingKey_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2096 [BW] Regenerate screenshot for a flaky test in ChatchannelVC
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenMessageFromCurrentUserIsFollowedByEphemeralMessage_messagesAreNotGrouped.default-light.png
Labels: 🐞 Bug

#2097 Fix ChatChannelVC crash for DM channels
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2099 Make EventPayload decoding errors more verbose
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/Events/EventDecoder.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload.swift
Labels: 🌐 SDK: StreamChat (LLC)

#2100 Implement Pinned Message UI in DemoApp
  DemoApp/StreamChat/Components/DemoChatMessageActionsVC.swift
  DemoApp/StreamChat/Components/DemoChatMessageContentView.swift
  DemoApp/StreamChat/Components/DemoChatMessageLayoutOptionsResolver.swift
  DemoApp/StreamChat/StreamChatWrapper.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: 🪧 Demo App

#2101 [CIS-1900] Push Notifications - multi bundle support
  CHANGELOG.md
  DemoApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  DemoApp/Assets.xcassets/AppIcon.appiconset/appstore.png
  DemoApp/DemoAppCoordinator.swift
  DemoApp/Info.plist
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/StreamChat/Extensions/Bundle+PushProvider.swift
  DemoApp/StreamChat/StreamChatWrapper.swift
  Sources/StreamChat/APIClient/Endpoints/DeviceEndpoints.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Models/PushDevice.swift
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChat.xcodeproj/xcshareddata/xcschemes/DemoApp.xcscheme
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/CurrentUserUpdater_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/DeviceEndpoints_Tests.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
  fastlane/Fastfile
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#2106 [CIS-1800] Make link preview tappable for URLs missing the URL scheme
  CHANGELOG.md
  Sources/StreamChat/Extensions/URL+EnrichedURL.swift
  Sources/StreamChat/Models/Attachments/ChatMessageLinkAttachment.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/Navigation/ChatMessageListRouter.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Fixtures/JSONs/Attachment/AttachmentPayloadLink_with_title_link.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Attachment/AttachmentPayloadLink_without_title_link.json
  Tests/StreamChatTests/Extensions/URL_EnrichedURL_Tests.swift
  Tests/StreamChatTests/Models/Attachments/ChatMessageLinkAttachment_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2114 [CIS-1660] Support attachments on MockServer
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Attachments_Tests.swift
  TestTools/StreamChatTestMockServer/Fixtures/JSONs/http_attachment.json
  TestTools/StreamChatTestMockServer/MockServer/AttachmentResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/MessageResponses.swift
  TestTools/StreamChatTestMockServer/MockServer/MockServerAttributes.swift
  TestTools/StreamChatTestMockServer/MockServer/StreamMockServer.swift
  TestTools/StreamChatTestMockServer/Robots/ParticipantRobot.swift
Labels: 🤖 CI/CD

#2119 Add missing channel / member list filters
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/ChannelMemberListQuery.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#2128 Implement date-level caching for JSON decoding
  CHANGELOG.md
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Tests/StreamChatTests/Utils/JSONDecoder_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#2126 [CIS-1407] Improve JSON decoding robustness
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/Utils/KeyedDecodingContainer+Array.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#2133 [CIS-1961] Run E2E & Unit tests by cron on multiple iOS & Xcode versions
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
  README.md
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/Base TestCase/StreamTestCase.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  StreamChatUITestsAppUITests/Tests/SlowMode_Tests.swift
  TestTools/StreamChatTestMockServer/Robots/ParticipantRobot.swift
  fastlane/Allurefile
  fastlane/Fastfile
Labels: 🤖 CI/CD
