Repository GetStream/stream-chat-swift, pull requests merged in 2023-05, with the labels that each got.

#2595 Reuse messages pagination logic across Channel and Thread
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Utils/MessagesPaginationStateHandling/MessagesPaginationState.swift
  Sources/StreamChat/Utils/MessagesPaginationStateHandling/MessagesPaginationStateHandling.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Utils/MessagesPaginationStateHandler_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelWatcherListController/ChatChannelWatcherListController_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Controllers/SearchControllers/MessageSearchController/MessageSearchController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Utils/MessagesPaginationStateHandling/MessagesPaginationStateHandler_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🟢 QAed, ✨ Enhancement

#2604 Fix "to-many key not allowed here" when using `memberName` filter
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Filter+ChatChannel.swift
  Sources/StreamChat/Query/Filter.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Query/Filter_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2598 [Async Messages]Add assets
  Sources/StreamChatUI/Appearance+ColorPalette.swift
  Sources/StreamChatUI/Appearance+Images.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/Assets.xcassets/Attachments/Previews/aac.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/Attachments/Previews/aac.imageset/aac.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/chevron.left.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/chevron.left.imageset/chevron.backward.png
  Sources/StreamChatUI/Resources/Assets.xcassets/chevron.up.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/chevron.up.imageset/chevron.forward.png
  Sources/StreamChatUI/Resources/Assets.xcassets/lock.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/lock.imageset/lock.png
  Sources/StreamChatUI/Resources/Assets.xcassets/mic.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/mic.imageset/mic.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pause.fill.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pause.fill.imageset/pause.fill.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pill.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pill.imageset/pill.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/play.fill.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/play.fill.imageset/play.fill.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/sliderThumb.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/sliderThumb.imageset/sliderThumb.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/trash.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/trash.imageset/delete.png
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  Sources/StreamChatUI/Resources/en.lproj/Localizable.stringsdict
Labels: 🎨 SDK: StreamChatUI

#2599 [Async Messages]Audio Formatters
  Sources/StreamChatUI/Appearance+Formatters/Appearance+Formatters.swift
  Sources/StreamChatUI/Appearance+Formatters/AudioPlaybackRateFormatter.swift
  Sources/StreamChatUI/Appearance+Formatters/AudioRecordingNameFormatter.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Utils/DefaultAudioPlaybackRateFormatter_Tests.swift
  Tests/StreamChatUITests/Utils/DefaultAudioRecordingNameFormatter_Tests.swift
Labels: 🎨 SDK: StreamChatUI

#2606 Remove unmaintained ChatSampleApp
  .github/workflows/smoke-checks.yml
  Scripts/run-linter.sh
  StreamChat.xcodeproj/project.pbxproj
  StreamChat.xcodeproj/xcshareddata/xcschemes/StreamChatSample.xcscheme
  StreamChatSample/AppDelegate.swift
  StreamChatSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  StreamChatSample/Assets.xcassets/Contents.json
  StreamChatSample/Base.lproj/LaunchScreen.storyboard
  StreamChatSample/Base.lproj/Main.storyboard
  StreamChatSample/Configuration.swift
  StreamChatSample/ConfigurationViewController.swift
  StreamChatSample/Extensions/Channel+Extensions.swift
  StreamChatSample/Extensions/ChannelMember+Extensions.swift
  StreamChatSample/Extensions/Date+Extensions.swift
  StreamChatSample/Extensions/PingPongEmojiFormatter.swift
  StreamChatSample/Extensions/UIColor+ForUsername.swift
  StreamChatSample/Extensions/UIStoryboard+Definitions.swift
  StreamChatSample/Extensions/UITableViewController+Cells.swift
  StreamChatSample/Extensions/UITableViewController+KeyboardAvoidance.swift
  StreamChatSample/Extensions/UIView+InstantiateFromNib.swift
  StreamChatSample/Extensions/UIViewController+Alert.swift
  StreamChatSample/Extensions/UIViewController+MoveToStoryboard.swift
  StreamChatSample/Extensions/View+AlertTextField.swift
  StreamChatSample/Info.plist
  StreamChatSample/LogStore.swift
  StreamChatSample/LoginViewController.swift
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleChannelMembersViewController.swift
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleChannelsViewController.swift
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleChat.storyboard
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleChatViewController.swift
  StreamChatSample/Samples/CombineSimpleChat/CombineSimpleUsersViewController.swift
  StreamChatSample/Samples/InputViewController.swift
  StreamChatSample/Samples/LogsViewController.swift
  StreamChatSample/Samples/Settings.storyboard
  StreamChatSample/Samples/SettingsViewController.swift
  StreamChatSample/Samples/SimpleChat/SimpleChannelImageAttachmentsListController.swift
  StreamChatSample/Samples/SimpleChat/SimpleChannelMembersViewController.swift
  StreamChatSample/Samples/SimpleChat/SimpleChannelsViewController.swift
  StreamChatSample/Samples/SimpleChat/SimpleChat.storyboard
  StreamChatSample/Samples/SimpleChat/SimpleChatViewController.swift
  StreamChatSample/Samples/SimpleChat/SimpleUsersViewController.swift
  StreamChatSample/Samples/SimpleChat/Views/ComposerView.swift
  StreamChatSample/Samples/SimpleChat/Views/ComposerView.xib
  StreamChatSample/Samples/SimpleChat/Views/ImageAttachmentCell.swift
  StreamChatSample/Samples/SplitViewController.swift
  StreamChatSample/Samples/SwiftUISimpleChat/ChannelListView.swift
  StreamChatSample/Samples/SwiftUISimpleChat/ChatScrollView.swift
  StreamChatSample/Samples/SwiftUISimpleChat/ChatView.swift
  StreamChatSample/Samples/SwiftUISimpleChat/MemberListView.swift
  StreamChatSample/Samples/SwiftUISimpleChat/UserListView.swift
  StreamChatSample/Samples/UserUpdateViewController.swift
  StreamChatSample/SceneDelegate.swift
  fastlane/Fastfile
  hooks/pre-commit.sh
Labels: 🏠 Meta

#2601 [Async Messages] Up/Down sampling util implementation
  Sources/StreamChat/Audio/AudioRecorder/AudioRecording.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Utils/Array+Sampling.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Audio/StreamAudioRecorder_Tests.swift
  Tests/StreamChatTests/Utils/ArraySampling_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#2609 Fix InputTextView not scrolling to caret when pasting long text
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2610 Fix Composer's keyboard not adjusted when presenting alert controllers
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2624 Fix memory leak in ChannelListController
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#2615 [Async Messages]LLC Changes
  Sources/StreamChat/Audio/AudioPlayer/AudioPlayerObserving.swift
  Sources/StreamChat/Audio/AudioPlayer/AudioPlaying.swift
  Sources/StreamChat/Audio/AudioPlayer/AudioQueuePlayer.swift
  Sources/StreamChat/Audio/AudioRecorder/AudioRecording.swift
  Sources/StreamChat/Audio/AudioRecorder/AudioRecordingDelegate.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/Attachments/ChatMessageVoiceRecordingAttachment_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAVPlayer.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAVURLAsset.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAppStateObserver.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAssetPropertyLoader.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioAnalyser.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioPlayer.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioPlayerDelegate.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioPlayerObserver.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioRecorder.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioRecordingDelegate.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioSessionConfigurator.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAudioSessionFeedbackGenerator.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/Stub.swift
  Tests/StreamChatTests/Audio/AudioAnalysisEngine_Tests.swift
  Tests/StreamChatTests/Audio/StreamAudioRecorder_Tests.swift
  Tests/StreamChatTests/Audio/StreamRemoteAudioPlayer_Tests.swift
  Tests/StreamChatTests/Audio/StreamRemoteAudioQueuePlayer_Tests.swift
  Tests/StreamChatTests/Models/Attachments/ChatMessageAttachment_Tests.swift
Labels: ✅ Feature

#2616 [Async Messages]MessageActionsTransitionController fix
  Sources/StreamChatUI/MessageActionsPopup/MessageActionsTransitionController.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/MessageActionsTransitionController_Tests.swift
Labels: ✅ Feature

#2608 Fix scrollToBottomButton visible when jumping to message on the first page
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Utils/MessagesPaginationStateHandling/MessagesPaginationStateHandling.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Utils/MessagesPaginationStateHandler_Mock.swift
  Tests/StreamChatTests/Utils/MessagesPaginationStateHandling/MessagesPaginationStateHandler_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#2636 Add support for thread view not rendering parent message
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_whenThreadRendersParentMessageEnabledIsFalse.default-light.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2634 Fix muted and joined channel list queries with empty data (Auto Filtering Enabled)
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Filter+ChatChannel.swift
  Sources/StreamChat/Query/Filter.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2630 Add replace query function to the `ChatChannelListVC`
  CHANGELOG.md
  DemoApp/Extensions/UIViewController+Alert.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/ChannelListController/ChannelListController_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  docusaurus/docs/iOS/uikit/components/channel-list.md
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2650 [Async Messages]Move FeedbackGenerator to StreamChatUI
  Sources/StreamChat/Audio/AudioSessionConfiguring.swift
  Sources/StreamChat/Audio/AudioSessionProtocol.swift
  Sources/StreamChatUI/VoiceRecording/Components/AudioSessionFeedbackGenerator.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Mocks/MockAudioSessionFeedbackGenerator.swift
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/Components/StreamAudioSessionFeedbackGenerator_Tests.swift
Labels: 🤖 CI/CD
