Repository GetStream/stream-chat-swift, pull requests merged in 2023-08, with the labels that each got.

#2701 Channel List Custom Sorting
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/StreamChat/Components/DemoChatChannelListItemView.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Sources/StreamChat/Controllers/BackgroundListDatabaseObserver.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ListDatabaseObserver.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Models/ChannelRead.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  Sources/StreamChat/Query/Sorting/SortValue.swift
  Sources/StreamChat/Query/Sorting/UserListSortingKey.swift
  Sources/StreamChat/Query/UserListQuery.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListCollectionViewCell.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatChannelSearchVC.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatMessageSearchVC.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/CollectionViewListChangeUpdater.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/ListChangeIndexPathResolver.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/ListChangeUpdater.swift
  Sources/StreamChatUI/Utils/ListChangeUpdater/TableViewListChangeUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChat.xcodeproj/xcshareddata/xcbaselines/799C9450247D59B1001F1104.xcbaseline/28BBA491-FD00-4587-BD5A-F64363390F25.plist
  StreamChat.xcodeproj/xcshareddata/xcbaselines/799C9450247D59B1001F1104.xcbaseline/Info.plist
  Tests/StreamChatTests/BackgroundListDatabaseObserver_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelListSortingKey_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ListDatabaseObserver+Sorting.swift
  Tests/StreamChatTests/Query/Sorting/SortingValue_Tests.swift
  Tests/StreamChatTests/Query/UserListQuery_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatChannelSearchVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatMessageSearchVC_Tests.swift
  Tests/StreamChatUITests/Utils/ListChangeIndexPathResolver_Tests.swift
  docusaurus/docs/iOS/client/controllers/channels.md
  docusaurus/docs/iOS/swiftui/channel-list-components/query-filters.md
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#2722 Fix Demo App crash when tapping filter channels on iPad
  DemoApp/Extensions/UIViewController+Alert.swift
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
Labels: 🐞 Bug, 🪧 Demo App

#2726 Fix blank channel name in Message Search
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListItemView_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2729 Update cron checks
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
  Gemfile.lock
  Scripts/bootstrap.sh
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ListDatabaseObserver+Sorting.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/MemberEventMiddleware_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketClient_Tests.swift
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/Sonarfile
Labels: 🤖 CI/CD

#2736 Change timestamp formatting according to the default design
  CHANGELOG.md
  Sources/StreamChatUI/Appearance+Formatters/Appearance+Formatters.swift
  Sources/StreamChatUI/Appearance+Formatters/ChannelListMessageTimestampFormatter.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListItemView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC+SwiftUI_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatChannelSearchVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatMessageSearchVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2737 Fix channel list rendering username on subtitle text in 1:1 channel
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListItemView_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2738 Fix Message List not updating when user info changes
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Models/User.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelReadDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#2740 Add PrivacyInfo and Digital Signatures
  CHANGELOG.md
  PrivacyInfo.xcprivacy
  StreamChat.xcodeproj/project.pbxproj
  fastlane/Fastfile
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, 🤖 CI/CD

#2742 Fix channel header and user online presence not updated when user changes
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, 🟢 QAed

#2747 Apply channel capabilities in UI components
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListItemView.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Examples/SlackClone/SlackMessageOptionsResolver.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannel_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/Controllers/ChatChannelController_Mock.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Models/ChatChannel_Tests.swift
  Tests/StreamChatUITests/Mocks/Navigation/ChatMessageListRouter_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessageActionsVC_Tests/test_messageActions_hasCorrectOrdering.default-light.png
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/VoiceRecordingVC_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#2754 Fix channel capabilities logic when channel is empty
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2758 Allow the uploads capability to manage the recordButton's appearance
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/VoiceRecordingVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/__Snapshots__/VoiceRecordingVC_Tests/test_updateContent_idle_viewIsConfiguredAsExpected.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/__Snapshots__/VoiceRecordingVC_Tests/test_updateContent_idle_viewIsConfiguredAsExpected.default-light.png
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/__Snapshots__/VoiceRecordingVC_Tests/test_updateContent_showingTip_viewIsConfiguredAsExpected.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/VoiceRecording/__Snapshots__/VoiceRecordingVC_Tests/test_updateContent_showingTip_viewIsConfiguredAsExpected.default-light.png
Labels: 🐞 Bug
