Repository GetStream/stream-chat-swift, pull requests merged in 2023-09, with the labels that each got.

#2759 Fix core data warnings when logging with different user
  CHANGELOG.md
  Sources/StreamChat/Database/DatabaseContainer.swift
  StreamChat.xcodeproj/xcshareddata/xcschemes/DemoApp.xcscheme
  TestTools/StreamChatTestTools/SpyPattern/Spy/DatabaseContainer_Spy.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2763 Fix tapping on status bar scrolling to bottom instead of top
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2766 [BW] Resolve SwiftLint CI issues
  .swiftlint.yml
  Mintfile
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment.swift
  Sources/StreamChat/Utils/MulticastDelegate.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatChannelListSearchVC.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageVoiceRecordingAttachmentListView+ItemView.swift
  Sources/StreamChatUI/CommonViews/ContainerStackView.swift
  Sources/StreamChatUI/Deprecations.swift
  Sources/StreamChatUI/Utils/Extensions/NSLayoutConstraint+Extensions.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
Labels: 🤖 CI/CD

#2765 Fix showing copy message action when text is empty
  CHANGELOG.md
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessagePopupVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2764 Fix empty channel header view for new DM Channels
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2762 Fix connecting user from background thread
  CHANGELOG.md
  DemoApp/Shared/StreamChatWrapper.swift
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/RequestEncoder.swift
  Sources/StreamChat/ChatClient+Environment.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClientFactory.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/TypingStartCleanupMiddleware.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsApp/StreamChat/StreamChatWrapper+TestApp.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/APIClient_Spy.swift
  Tests/StreamChatTests/APIClient/APIClient_Tests.swift
  Tests/StreamChatTests/APIClient/ChatPushNotificationContent_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/TypingStartCleanupMiddleware_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2770 Add support for disabling jumping to message animation
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/Controllers/ChatChannelController_Mock.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVC_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2772 Make `ChannelListLoadingView` Customizable + Fix UI Glitch
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListLoadingView.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListLoadingViewCell.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/CommonViews/SkeletonLoadable.swift
  Sources/StreamChatUI/Components.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, ✅ Feature

#2773 Fix link preview title covering text when image is not loaded
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatMessageLinkPreviewView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageLinkPreviewView_Tests/test_appearance_whenNoImagePreview.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageLinkPreviewView_Tests/test_appearance_whenNoImagePreview.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageLinkPreviewView_Tests/test_appearance_whenNoImagePreview.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageLinkPreviewView_Tests/test_appearance_whenNoImagePreview.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/setUp.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLink.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLink.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutAuthor.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutAuthor.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutImage.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutImage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutImageAndAuthor.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkWithoutImageAndAuthor.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2774 Fix composer input jumping when shrink button is tapped
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
  Tests/StreamChatUITests/Helpers/SnapshotTesting/AssertSnapshot.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.small-dark.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2778 Improve `addDevice()` and `removeDevice()` with optimistic updates
  CHANGELOG.md
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2775 Make the Logger thread-safe to avoid crashes
  CHANGELOG.md
  Sources/StreamChat/Utils/Logger/Logger.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Utils/Logger_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2781 Fix critical issue causing a query channel call for every new message
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#2777 Fix memory leak caused by `Timer.addTimeout()`
  CHANGELOG.md
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Sources/StreamChat/Utils/Timers.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2794 [BW] Remove flaky E2E test and make it manual
  StreamChatUITestsAppUITests/Tests/Attachments_Tests.swift
Labels: 🤖 CI/CD

#2793 Fix unread messages banner showing for system messages
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#2798 Fix compilation issues on NSEs when using Cocoapods
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/Search/ChatChannelListSearchVC.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatChannelSearchVC.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatMessageSearchVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2800 Fix composer input scrolling to caret position
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/setUp.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.small-dark.png
Labels: 🐞 Bug, ❗️ High Priority, 🎨 SDK: StreamChatUI, 🟢 QAed

#2802 Fix composer input scrolling getting disabled on iOS 17
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_emptyAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_onlyEmojiMessageAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/setUp.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/setUp.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedOneAfterThree.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedSameTime.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedThreeAfterOne.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withFourAttachments_addedTwoAfterTwo.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_attachmentsPreview_withMultipleAttachmentTypes.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_canNotSendMessage.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_channelWithSlowModeActive_messageIsSent_SlowModeIsOnWithCountdownShown.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithEmptyArgs_hasSendButtonEnabled.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_commandWithNonEmptyArgs_hasSendButtonDisabled.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_whenSuggestionsLookupIsLocal_onlyChannelMembersAreShown.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2797 Fix unread messages separator disapearing when marking channel as read
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDelegate.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVCDelegate_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_headerViewForMessage_returnsExpectedValue_whenUnreadSeparatorIsDisabled_whenMessageShouldShowDateSeparator_AndIsMarkedAsUnread.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_headerViewForMessage_returnsExpectedValue_whenUnreadSeparatorIsEnabled_whenMessageShouldShowDateSeparator_AndIsMarkedAsUnread.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenThereIsAnUnreadMessage_whenFeatureIsDisabled_shouldShowABannerOnTopOfIt.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenThereIsAnUnreadMessage_whenFeatureIsEnabled_shouldShowABannerOnTopOfIt.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: ❗️ High Priority, 🟢 QAed

#2809 Fix skipping messages logic + performance improvements
  Sources/StreamChat/Utils/LazyCachedMapCollection.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC+DiffKit.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
Labels: 🐞 Bug, ⚡ Performance, 🤞 Ready For QA

#2810 Revert message updates whenever user info changes
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
Labels: ⚡ Performance

#2814 Fix thread-safety of connection waiter when timing out
  CHANGELOG.md
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
Labels: 🐞 Bug
