Repository GetStream/stream-chat-swift, pull requests merged in 2023-04, with the labels that each got.

#2557 Fix deprecatedFallback getting called when auto-filtering is enabled
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🐞 Bug

#2558 Fix SwiftLint regular_constraints_forbidden rule
  .swiftlint.yml
  Sources/StreamChatUI/ChatMessageList/ChatMessageListDateSeparatorView.swift
  Sources/StreamChatUI/CommonViews/ContainerStackView.swift
  Sources/StreamChatUI/CommonViews/InputTextView/InputTextView.swift
  Sources/StreamChatUI/Gallery/GalleryVC.swift
  Sources/StreamChatUI/Utils/Extensions/NSLayoutConstraint+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
Labels: 🏠 Meta

#2566 Add support for bidirectional scrolling inside threads
  CHANGELOG.md
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DatabaseSession_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#2570 Fix crash when getting unread count in invalid state
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#2574 [Fix]Guest Authentication Flow
  CHANGELOG.md
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  StreamChatUITestsApp/ViewController.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/APIClient_Spy.swift
  Tests/StreamChatTests/APIClient/APIClient_Tests.swift
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
Labels: 🐞 Bug

#2571 Make connect/disconnect safer when network is offline
  CHANGELOG.md
  Sources/StreamChat/APIClient/RequestEncoder.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Tests/StreamChatTests/APIClient/RequestEncoder_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketClient_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2577 Safer `connectUser()` by logging out the user first if needed
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  StreamChatUITestsApp/ViewController.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/AuthenticationRepository_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/Logger_Spy.swift
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
  Tests/StreamChatTests/StreamChat/ChatClient_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), ✨ Enhancement
