Repository GetStream/stream-chat-swift, pull requests merged in 2023-12, with the labels that each got.

#2919 [Enhancement]Expose audioSessionConfiguration for the AudioPlayer
  CHANGELOG.md
  Sources/StreamChat/Audio/AudioPlayer/AudioPlaying.swift
  Sources/StreamChat/Audio/AudioRecorder/AudioRecording.swift
  Sources/StreamChat/Audio/AudioSessionConfiguring.swift
  Tests/StreamChatTests/Audio/StreamAudioPlayer_Tests.swift
  Tests/StreamChatTests/Audio/StreamAudioRecorder_Tests.swift
  docusaurus/docs/iOS/client/audio-support/audio-playback.md
  docusaurus/docs/iOS/client/audio-support/audio-recording.md
Labels: ✨ Enhancement

#2928 Fix user mention not tappable when contains "@" character
  CHANGELOG.md
  Sources/StreamChatUI/Utils/TextViewMentionedUsersHandler.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Utils/TextViewMentionedUsersHandler_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2926 Fix edit action appearing in giphy messages
  CHANGELOG.md
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2927 Fix not adding a space in the message input when mentioning a user
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2932 Add system message when adding a member in the DemoApp
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
Labels: 🪧 Demo App, 🟢 QAed

#2935 Update Docs related to min iOS version
  CHANGELOG.md
  Documentation.docc/Documentation.md
  README.md
  Sources/StreamChat/Utils/InternetConnection/InternetConnection.swift
Labels: 📋 Docs

#2937 Fix duplicated Runpath Search Paths
  CHANGELOG.md
  StreamChat.xcodeproj/project.pbxproj
Labels: 🐞 Bug

#2941 Fix file attachments not rendering file size
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Attachments/ChatFileAttachmentListView+ItemView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/ChatFileAttachmentListView+ItemView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearance_pdf_whenSizeIsZero.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearance_pdf_whenUploadingStateIsNil.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2946 Fix quoted chat message view with wrong text
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2945 Fix jumping to bottom when loading new messages
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2947 Add custom location attachment to the Demo App
  CHANGELOG.md
  DemoApp/DemoAppConfiguration.swift
  DemoApp/Screens/AdvancedOptionsViewController.swift
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Screens/UserProfileViewController.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoAttachmentViewCatalog.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoChatMessageListVC.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoComposerVC.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoQuotedChatMessageView.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentPayload+AttachmentViewProvider.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentPayload.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentSnapshotView.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentViewDelegate.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentViewInjector.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationDetailViewController.swift
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  DemoApp/StreamRuntimeCheck+StreamInternal.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/MixedAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVCDataSource_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  docusaurus/docs/iOS/uikit/guides/working-with-attachments.md
Labels: 🎨 SDK: StreamChatUI, 🪧 Demo App, ✅ Feature

#2949 Fix messages failing to be deleted when pending updates to the server
  CHANGELOG.md
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChatUI/MessageActionsPopup/ChatMessageActionsVC.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Models/ChatMessage_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/ChatMessageActionsVC_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
