Repository GetStream/stream-chat-swift, pull requests merged in 2023-10, with the labels that each got.

#2795 Improve CI experience
  .github/actions/bootstrap/action.yml
  .github/actions/python-cache/action.yml
  .github/actions/ruby-cache/action.yml
  .github/actions/xcode-cache/action.yml
  .github/workflows/cron-checks.yml
  .github/workflows/emerge.yml
  .github/workflows/publish-release.yml
  .github/workflows/smoke-checks.yml
  .github/workflows/sync-mock-server.yml
  .github/workflows/testflight.yml
  .gitignore
  .slather.yml
  Brewfile
  Gemfile.lock
  Githubfile
  Scripts/bootstrap.sh
  StreamChat.xcodeproj/project.pbxproj
  StreamChat.xcodeproj/xcshareddata/xcschemes/StreamChatUITestsApp.xcscheme
  fastlane/Allurefile
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/Sonarfile
Labels: 🤖 CI/CD

#2822 Fix messages not updated when user name and image changes
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2821 Fix channel list states view when creating a channel and loading cached channels
  CHANGELOG.md
  DemoShare/DemoShareViewModel.swift
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/Controllers/ChatChannelListController_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/WebSocketClient/WebSocketEngine_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelReadPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/CreateCallPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Requests/ChannelTruncateRequestPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Requests/MessageReactionRequestPayload_Tests.swift
  Tests/StreamChatTests/Query/ChannelListQuery_Tests.swift
  Tests/StreamChatTests/Query/ChannelMemberListQuery_Tests.swift
  Tests/StreamChatTests/Query/ChannelQuery_Tests.swift
  Tests/StreamChatTests/Query/PinnedMessages/PinnedMessagesQuery_Tests.swift
  Tests/StreamChatTests/StreamChatIntegrationTests/PinnedMessagesQuery_IntegrationTests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketConnectPayload_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2838 Add message preview with attachments in channel list
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListItemView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_audioPreviewMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_audioPreviewMessage_whenMultipleMembers.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_audioPreviewMessage_whenSentByCurrentUser.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_audioPreviewMessage_whenTextIsEmpty.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_filePreviewMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_filePreviewMessage_whenMultipleMembers.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_filePreviewMessage_whenSentByCurrentUser.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_filePreviewMessage_whenTitleIsNil.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_giphyPreviewMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_giphyPreviewMessage_whenMultipleMembers.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_giphyPreviewMessage_whenSentByCurrentUser.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_imagePreviewMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_imagePreviewMessage_whenMultipleMembers.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_imagePreviewMessage_whenSentByCurrentUser.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_imagePreviewMessage_whenTextIsEmpty.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_videoPreviewMessage.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_videoPreviewMessage_whenMultipleMembers.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_videoPreviewMessage_whenSentByCurrentUser.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/__Snapshots__/ChatChannelListItemView_Tests/test_appearance_videoPreviewMessage_whenTextIsEmpty.default-light.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2845 [CI] Fix buildcache issue
  .gitignore
Labels: 🤖 CI/CD

#2853 Bump minimum supported Xcode version
  .github/workflows/cron-checks.yml
  .github/workflows/publish-release.yml
  .github/workflows/smoke-checks.yml
  CHANGELOG.md
  Gemfile.lock
  README.md
  StreamChat.xcodeproj/project.pbxproj
  docusaurus/docs/iOS/basics/integration.md
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: 🤖 CI/CD

#2855 Allow easier customisation of the `ChatChannelListItemView`
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2842 Do not auto-generate new Info.plist files
  StreamChat.xcodeproj/project.pbxproj
Labels: 🤖 CI/CD
