Repository GetStream/stream-chat-swift, pull requests merged in 2023-06, with the labels that each got.

#2663 Fix shadow message making hidden channel reappear
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/EventMiddlewares/ChannelVisibilityEventMiddleware.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelVisibilityEventMiddleware_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2666 [BW] Flaky unit test on CI
  Tests/StreamChatTests/StreamChatFlakyTests.xctestplan
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
Labels: 🤖 CI/CD

#2665 Add support for swipe to reply
  CHANGELOG.md
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Sources/StreamChatUI/Appearance+Images.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageCell.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/SwipeToReplyGestureHandler.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsApp/StreamChat/StreamChatWrapper+TestApp.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Robots/UserRobot.swift
  StreamChatUITestsAppUITests/Tests/QuotedReply_Tests.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/SwipeToReplyGestureHandler_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#2678 Expose Extra Data for Giphy Attachment Payloads
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/ChatMessageGiphyAttachment.swift
  Tests/StreamChatTests/Models/Attachments/GiphyAttachmentPayload_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#2679 [BW] Update test plans
  Tests/StreamChatTests/StreamChatFlakyTests.xctestplan
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🤖 CI/CD
