Repository GetStream/stream-chat-swift, pull requests merged in 2023-03, with the labels that each got.

#2509 Implement ThreadRepliesCounter decoration
  CHANGELOG.md
  Sources/StreamChatUI/ChatThread/ChatThreadRepliesCountDecorationView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.stringsdict
  Sources/StreamChatUI/Utils/Extensions/UIView+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC+SwiftUI_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_chatThreadVC_isPopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC+SwiftUI_Tests/test_customNavigationViewValues_arePopulated.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_defaultAppearance.default-light.png
  docusaurus/docs/iOS/assets/thread-list-replies-counter-decoration-customized.png
  docusaurus/docs/iOS/assets/thread-list-replies-counter-decoration-disabled.png
  docusaurus/docs/iOS/assets/thread-list-replies-counter-decoration-enabled.png
  docusaurus/docs/iOS/uikit/components/message.md
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2464 Add support for jumping to quoted message
  .github/workflows/smoke-checks.yml
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelControllerDelegate.swift
  Sources/StreamChat/Controllers/ChannelController/ChatClient+ChannelController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Query/Pagination.swift
  Sources/StreamChat/WebSocketClient/Events/MessageEvents.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChatUI/Appearance+ColorPalette.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDataSource.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVCDelegate.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Utils/Extensions/UIScrollView+Extensions.swift
  Sources/StreamChatUI/Utils/ViewPaginationHandling/InvertedScrollViewPaginationHandler.swift
  Sources/StreamChatUI/Utils/ViewPaginationHandling/ScrollViewPaginationHandler.swift
  Sources/StreamChatUI/Utils/ViewPaginationHandling/ViewPaginationHandling.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/Controllers/ChatChannelController_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseSession_Tests.swift
  Tests/StreamChatTests/Models/ChatMessage_Tests.swift
  Tests/StreamChatTests/Query/Pagination_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageCell_Mock.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVCDataSource_Mock.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVCDelegate_Mock.swift
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListView_Mock.swift
  Tests/StreamChatUITests/Mocks/Utils/ChatMessageContentViewDelegate_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/StreamChatUITests/Utils/ViewPaginationHandling/InvertedScrollViewPaginationHandler_Tests.swift
  Tests/StreamChatUITests/Utils/ViewPaginationHandling/ScrollViewPaginationHandler_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#2531 Fix auto filtering issue with collection operators
  CHANGELOG.md
  Sources/StreamChat/Query/Filter+ChatChannel.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🐞 Bug

#2537 Add support for the message list to start at the top
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Composer/ComposerKeyboardHandler.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatThread/__Snapshots__/ChatThreadVC_Tests/test_whenShouldMessagesStartAtTheTopIsTrue.small-dark.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2541 Fix channel list parsing failing completely if one channel fails parsing
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/Utils/KeyedDecodingContainer+Array.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Fixtures/JSONs/FailingChannelListPayload.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/PartiallyFailingChannelListPayload.json
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2544 Fix channel marking read when view is not visible
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2529 [Async Messages]Implementation of AudioPlayer
  Sources/StreamChat/AudioPlayer/AudioPlaybackContextAccessor.swift
  Sources/StreamChat/AudioPlayer/AudioPlaying.swift
  Sources/StreamChat/AudioPlayer/AudioPlayingDelegate.swift
  Sources/StreamChat/Utils/Logger/Logger.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/AudioPlayer/MockAVURLAsset.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/AudioPlayer/MockAudioPlayerDelegate.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/AudioPlayer/Stub.swift
  Tests/StreamChatTests/AudioPlayer/StreamAssetPropertyLoader_Tests.swift
  Tests/StreamChatTests/AudioPlayer/StreamRemoteAudioPlayer_Tests.swift
  Tests/StreamChatUITests/Utils/AudioPlayer/StreamRemoteAudioPlayer_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2553 Fix completion blocks not called when loading more messages
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
