Repository GetStream/stream-chat-swift, pull requests merged in 2024-12, with the labels that each got.

#3520 Fix unstable typing related tests in ChatChannelController_Tests
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🤖 CI/CD

#3513 Fix reconnection timeout handler not working in the token provider phase
  CHANGELOG.md
  Sources/StreamChat/ChatClient+Environment.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Sources/StreamChat/WebSocketClient/ConnectionStatus.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
  Sources/StreamChat/Workers/Background/ConnectionRecoveryHandler.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ConnectionRepository_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/AuthenticationRepository_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/WebSocketClient/WebSocketClient_Mock.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketClient_Tests.swift
  Tests/StreamChatTests/Workers/Background/ConnectionRecoveryHandler_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3522 [CI] Fix release script
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3523 [CI] Resolve xcframeworks issue
  .github/workflows/release-start.yml
  Gemfile.lock
  fastlane/Pluginfile
Labels: 🤖 CI/CD

#3518 Pinning channels for the current user
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/StreamChat/Components/DemoChatChannelListItemView.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  DemoApp/StreamRuntimeCheck+StreamInternal.swift
  Sources/StreamChat/APIClient/Endpoints/MemberEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberUpdatePayload.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/MemberController/MemberController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Extensions/URLRequest+cURL.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Models/ChannelPinningScope.swift
  Sources/StreamChat/Models/Member.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/Workers/ChannelMemberUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannelMember_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelMemberUpdater_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChatChannelMember.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MemberPayload.swift
  Tests/StreamChatTests/APIClient/Endpoints/MemberEndpoints_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/MemberController/MemberController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelListSortingKey_Tests.swift
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3526 Fix unstable AuthenticationRepository_Tests.test_reset()
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
Labels: 🤖 CI/CD

#3524 Archiving channels for the current user
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberUpdatePayload.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Models/ChannelArchivingScope.swift
  Sources/StreamChat/Models/Member.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/Workers/ChannelMemberUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannelMember_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/DatabaseContainer_Spy.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChatChannelMember.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MemberPayload.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3528 End previous background task as soon as begin task is called
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/BackgroundTaskScheduler.swift
  Tests/StreamChatTests/WebSocketClient/BackgroundTaskScheduler_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3533 Get rid of the excess test dependency
  StreamChat.xcodeproj/project.pbxproj
Labels: 🤖 CI/CD

#3535 Add additional sorting filter keys for member list query
  CHANGELOG.md
  Sources/StreamChat/Models/Member.swift
  Sources/StreamChat/Query/ChannelMemberListQuery.swift
  Sources/StreamChat/Query/Filter.swift
  Sources/StreamChat/Query/Sorting/ChannelMemberListSortingKey.swift
  Tests/StreamChatTests/Query/MemberListFilterScope_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelMemberListSortingKey_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🏗 Missing Feature Parity, 🟢 QAed

#3536 Add FilterKey.members and support for equal operator to match an array
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Filter+ChatChannel.swift
  Sources/StreamChat/Query/Filter.swift
  Tests/StreamChatTests/Query/Filter_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🏗 Missing Feature Parity, 🟢 QAed

#3534 Improve database model conversion performance by caching extra data and keeping row cache
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/PollDTO.swift
  Sources/StreamChat/Database/DTOs/PollOptionDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Tests/StreamChatTests/Utils/JSONDecoder_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ⚡ Performance

#3541 Read data using a background context in the DataStore
  CHANGELOG.md
  Sources/StreamChat/Database/DataStore.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Tests/StreamChatTests/Database/DataStore_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
