Repository GetStream/stream-chat-swift, pull requests merged in 2024-01, with the labels that each got.

#2957 [Fix]Add tests in project
  DemoApp/CustomMessageContentView.swift
  Integration/CocoaPods/CocoaPods/AppDelegate.swift
  Integration/CocoaPods/CocoaPods/SceneDelegate.swift
  Integration/CocoaPods/CocoaPods/ViewController.swift
  Integration/SPM/SwiftPackageManager/AppDelegate.swift
  Integration/SPM/SwiftPackageManager/SceneDelegate.swift
  Integration/SPM/SwiftPackageManager/ViewController.swift
  Scripts/GenerateSPMFileLists.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Utils/AudioPlayer/StreamRemoteAudioPlayer_Tests.swift
  Tests/StreamChatUITests/Utils/DefaultAudioPlaybackRateFormatter_Tests.swift
  Tests/StreamChatUITests/Utils/DefaultAudioRecordingNameFormatter_Tests.swift
Labels: ✨ Enhancement

#2951 Add custom location attachment to Demo App + Mixed attachments improvements
  CHANGELOG.md
  DemoApp/DemoAppConfiguration.swift
  DemoApp/Screens/AdvancedOptionsViewController.swift
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Screens/UserProfileViewController.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoAttachmentViewCatalog.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoChatMessageListVC.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoComposerVC.swift
  DemoApp/StreamChat/Components/CustomAttachments/DemoQuotedChatMessageView.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentPayload+AttachmentViewProvider.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentPayload.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentSnapshotView.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentViewDelegate.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationAttachmentViewInjector.swift
  DemoApp/StreamChat/Components/CustomAttachments/LocationAttachment/LocationDetailViewController.swift
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  DemoApp/StreamRuntimeCheck+StreamInternal.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/MixedAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Mocks/ChatMessageList/ChatMessageListVCDataSource_Mock.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/MixedAttachmentViewInjector_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  docusaurus/docs/iOS/uikit/guides/working-with-attachments.md
Labels: 🐞 Bug, 🪧 Demo App, ✅ Feature

#2948 Add default rendering for unsupported attachments
  CHANGELOG.md
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Sources/StreamChat/Models/Attachments/AttachmentTypes.swift
  Sources/StreamChat/Models/Attachments/ChatMessageAttachment.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/AttachmentViewCatalog.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/ChatFileAttachmentListView+ItemView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/ChatMessageFileAttachmentListView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/FileAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Gallery/ChatMessageGalleryView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Gallery/ChatMessageImageGallery+ImagePreview.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Gallery/GalleryAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Gallery/VideoAttachmentGalleryPreview.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Giphy/ChatMessageGiphyView+GiphyBadge.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Giphy/ChatMessageGiphyView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Giphy/ChatMessageInteractiveAttachmentView+ActionButton.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Giphy/ChatMessageInteractiveAttachmentView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Giphy/GiphyAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Link/ChatMessageLinkPreviewView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Link/LinkAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/MixedAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/Unsupported/UnsupportedAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/VoiceRecording/ChatMessageVoiceRecordingAttachmentListView+ItemView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/VoiceRecording/ChatMessageVoiceRecordingAttachmentListView+ItemViewPresenter.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/VoiceRecording/ChatMessageVoiceRecordingAttachmentListView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/VoiceRecording/VoiceRecordingAttachmentViewInjector.swift
  Sources/StreamChatUI/CommonViews/QuotedChatMessageView/QuotedChatMessageView.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Models/Attachments/AttachmentFileType_Tests.swift
  Tests/StreamChatTests/Models/Attachments/AttachmentTypes_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/ChatFileAttachmentListView+ItemView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/MixedAttachmentViewInjector_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearance_whenUnknown.default-light.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/QuotedChatMessageView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withUnsupportedAttachment.default-light.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withUnsupportedAttachment.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withUnsupportedAttachment.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withUnsupportedAttachment.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/CommonViews/QuotedChatMessageView/__Snapshots__/QuotedChatMessageView_Tests/test_withUnsupportedAttachment_whenEmptyText.default-light.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#2958 Allow editing pending messages
  CHANGELOG.md
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChatUI/Utils/ChatMessage+Extensions.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatUITests/ChatMessage_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#2959 Expose `UserListQuery.search(term:)` and `UserListQuery.user(withID:)`
  CHANGELOG.md
  Sources/StreamChat/Query/UserListQuery.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#2966 Allow resending messages with failed attachments
  .github/workflows/vale-doc-lint.yml
  CHANGELOG.md
  Sources/StreamChat/Models/Attachments/AnyAttachmentPayload.swift
  Sources/StreamChat/Workers/Background/AttachmentQueueUploader.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChatUI/Appearance+Images.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/ChatFileAttachmentListView+ItemView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/ChatMessageFileAttachmentListView.swift
  Sources/StreamChatUI/ChatMessageList/Attachments/File/FileAttachmentViewInjector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Models/Attachments/AnyAttachmentPayload_Tests.swift
  Tests/StreamChatTests/Workers/Background/AttachmentQueueUploader_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearanceCustomization_usingAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearance_pdf.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageFileAttachmentListView_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageFileAttachmentListView_Tests/test_appearance_five_attachments.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageFileAttachmentListView_Tests/test_appearance_one_attachment.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatMessageFileAttachmentListView_Tests/test_appearance_two_attachments.default-light.png
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#2967 Fix mentioned users without name and if not in local device
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/Utils/Extensions/UITextView+Extensions.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithAMentionedUserIsSent_whenDuplicatedMentions.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithAMentionedUserIsSent_whenDuplicatedMentions.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithAMentionedUserIsSent_whenNoName.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithAMentionedUserIsSent_whenNoName.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2972 Remove data instead of deleting store when logging out
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/DatabaseObserver/BackgroundDatabaseObserver.swift
  Sources/StreamChat/Controllers/DatabaseObserver/DatabaseObserverRemovalListener.swift
  Sources/StreamChat/Controllers/DatabaseObserver/EntityDatabaseObserver.swift
  Sources/StreamChat/Controllers/DatabaseObserver/ListDatabaseObserver.swift
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/SpyPattern/Spy/DatabaseContainer_Spy.swift
  Tests/StreamChatTests/BackgroundListDatabaseObserver_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelWatcherListController/ChatChannelWatcherListController_Tests.swift
  Tests/StreamChatTests/Controllers/MemberController/MemberController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/AttachmentDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/EntityDatabaseObserverWrapper_Tests.swift
  Tests/StreamChatTests/EntityDatabaseObserver_Tests.swift
  Tests/StreamChatTests/ListDatabaseObserverWrapper_Tests.swift
  Tests/StreamChatTests/ListDatabaseObserver_Tests.swift
  Tests/StreamChatTests/Workers/Background/AttachmentQueueUploader_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#2976 Do not run cron checks on releases
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
Labels: 🤖 CI/CD

#2979 Fix broken link in the UIKit docs
  docusaurus/docs/iOS/client/push-notifications.md
  docusaurus/docs/iOS/uikit/components/message-composer.md
Labels: 📋 Docs

#2980 Delete unused job on CI
  .github/workflows/emerge.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: 🤖 CI/CD

#2982 Fix issues related to Sinatra server
  Gemfile
  Gemfile.lock
  TestTools/StreamChatTestMockServer/MockServer/DeviceRemoteControl.swift
Labels: 🤖 CI/CD

#2985 Remove connectionIDWaiters property with internal synchronization sin…
  CHANGELOG.md
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2986 Threading issues in AuthenticationRepository
  CHANGELOG.md
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2987 Missing barrier flag in ConnectionRepository when mutating state
  CHANGELOG.md
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#2992 Do not show composer link preview with multiple attachment types
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#2994 Update build configuration for custom scheme
  Scripts/DemoApp-StreamDevelopers.xcscheme
  StreamChat.xcodeproj/project.pbxproj
Labels: 🪧 Demo App
