Repository GetStream/stream-chat-swift, pull requests merged in 2024-03, with the labels that each got.

#3052 Fix token provider retrying after calling disconnect
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Shared/StreamChatWrapper.swift
  DemoApp/Shared/Token+Development.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/FakeTimer/FakeTimer.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/AuthenticationRepository_Mock.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Repositories/AuthenticationRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3054 [CI] Soft check for excess files on PR creation
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3055 Fix current user cache not deleted on logout causing unread count issues after switching users
  CHANGELOG.md
  Sources/StreamChat/Database/DatabaseContainer.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC)

#3056 Fix invalid token triggering token refresh in an infinite loop
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Errors/ErrorPayload.swift
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ConnectionRepository_Mock.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3053 Stop throwing InvalidModel when dto is invalid
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelConfigDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelReadDTO.swift
  Sources/StreamChat/Database/DTOs/CommandDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/DeviceDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3059 Add support for "Edited" label when message text is edited
  CHANGELOG.md
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageLayoutOptionsResolver.swift
  Sources/StreamChatUI/Components.swift
  Sources/StreamChatUI/Generated/L10n.swift
  Sources/StreamChatUI/Resources/en.lproj/Localizable.strings
  TestTools/StreamChatTestTools/Extensions/Unique/ChatMessage+Unique.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Message.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatMessage_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_whenMessageEditedAt_editedMessageIsNotGrouped.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited_andDeleted_shouldNotShowEditedLabel.default-light.png
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#3061 Do not mark message as failed when server returns duplicated message error
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Errors/ClientError.swift
  Sources/StreamChat/Errors/ErrorPayload.swift
  Sources/StreamChat/Repositories/MessageRepository.swift
  Tests/StreamChatTests/Repositories/MessageRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3063 Add a static benchmark for xcmetrics
  .github/workflows/xcmetrics.yml
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3064 [ChatStateLayer] StreamCollection as opaque base collection wrapper
  Sources/StreamChat/StateLayer/ChatState+Observer.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  Sources/StreamChat/StateLayer/MessageState+Observer.swift
  Sources/StreamChat/StateLayer/MessageState.swift
  Sources/StreamChat/Utils/StreamCollection.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: 🌐 SDK: StreamChat (LLC)

#3070 [CI] Quick fix for one E2E test on iPad
  StreamChatUITestsAppUITests/Tests/QuotedReply_Tests.swift
Labels: 🤖 CI/CD

#3071 [ChatStateLayer] Loading watchers for a channel
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/StateLayer/ChatState+Observer.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3066 [ChatStateLayer] ChannelList and ChannelListState
  Sources/StreamChat/ChatClient+Environment.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/StateLayer/ChannelList.swift
  Sources/StreamChat/StateLayer/ChannelListState+Observer.swift
  Sources/StreamChat/StateLayer/ChannelListState.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  Sources/StreamChat/Utils/StreamCollection.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: 🌐 SDK: StreamChat (LLC)

#3069 [ChatStateLayer] Channel list linking and unlinking
  Sources/StreamChat/StateLayer/ChannelList.swift
  Sources/StreamChat/StateLayer/ChannelListState+Observer.swift
  Sources/StreamChat/StateLayer/ChannelListState.swift
  Sources/StreamChat/Workers/EventObservers/EventObserver.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3075 [ChatStateLayer] Unread message and last read message
  Sources/StreamChat/Extensions/Collection+Extensions.swift
  Sources/StreamChat/StateLayer/ChatState+Internal.swift
  Sources/StreamChat/StateLayer/ChatState+Observer.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: 🌐 SDK: StreamChat (LLC)

#3085 [CI] Solve brew issue on macos-13
  .github/workflows/cron-checks.yml
Labels: 🤖 CI/CD

#3077 [ChatStateLayer] Use fetch request for channel list contains channel check
  Sources/StreamChat/StateLayer/ChannelListState+Observer.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3088 [DemoApp] Do not translate deleted messages
  DemoApp/StreamChat/Components/DemoChatMessageContentView.swift
Labels: 🪧 Demo App

#3087 [ChatStateLayer] Local message lookup in chat
  Sources/StreamChat/Database/DataStore.swift
  Sources/StreamChat/StateLayer/ChatState.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3091 Add `ChatClient.loadAppSettings` and `ChatClient.appSettings`
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/AppEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath+OfflineRequest.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/AppSettingsPayload.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Models/AppSettings.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Fixtures/JSONs/AppSettings.json
  Tests/StreamChatTests/APIClient/Endpoints/AppEndpoints_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/AppSettingsPayload_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#3090 Fixes support for markdown ordered list with all numbers
  CHANGELOG.md
  Scripts/updateDependency.sh
  Sources/StreamChatUI/StreamSwiftyMarkdown/SwiftyMarkdown/SwiftyLineProcessor.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithMarkdownOrderedListFromTheCurrentUserIsSent.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithMarkdownOrderedListFromTheCurrentUserIsSent.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🤞 Ready For QA

#3093 Fix DemoApp's login-logout flow crashing in StreamDevelopers scheme
  DemoApp/Shared/StreamChatWrapper.swift
Labels: 🐞 Bug, 🪧 Demo App

#3086 [ChatStateLayer] ConnectedUser and ConnectedUserState
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  Sources/StreamChat/StateLayer/ConnectedUser.swift
  Sources/StreamChat/StateLayer/ConnectedUserState.swift
  Sources/StreamChat/StateLayer/CurrentUserState+Observer.swift
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/CurrentUserUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3095 [ChatStateLayer] UserList and UserListState
  Sources/StreamChat/Controllers/UserListController/UserListController.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  Sources/StreamChat/StateLayer/UserList.swift
  Sources/StreamChat/StateLayer/UserListState.swift
  Sources/StreamChat/Workers/Background/NewUserQueryUpdater.swift
  Sources/StreamChat/Workers/UserListUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/UserListUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/SearchControllers/UserListController/UserListController_Tests.swift
  Tests/StreamChatTests/Workers/UserListUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3096 [ChatStateLayer] Add global user flagging and muting support
  Sources/StreamChat/StateLayer/ConnectedUser.swift
  Sources/StreamChat/Workers/UserUpdater.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3092 Add attachment queue uploader tests to flaky plan
  Tests/StreamChatTests/StreamChatFlakyTests.xctestplan
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
Labels: 🤖 CI/CD

#3094 Fix support for markdown italic and bold styles inside snake-styled text
  CHANGELOG.md
  Scripts/updateDependency.sh
  Sources/StreamChatUI/StreamSwiftyMarkdown/SwiftyMarkdown/SwiftyTokeniser.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithMarkdownItalicStyleFromTheCurrentUserIsSent.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithMarkdownItalicStyleFromTheCurrentUserIsSent.default-light.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3103 Fix Message View not updated when new translations are added or removed
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3079 [ChatStateLayer] Member banning and member lists
  Sources/StreamChat/Controllers/MemberController/MemberController.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  Sources/StreamChat/StateLayer/ChatState+Observer.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  Sources/StreamChat/StateLayer/MemberList.swift
  Sources/StreamChat/StateLayer/MemberListState.swift
  Sources/StreamChat/Workers/ChannelMemberListUpdater.swift
  Sources/StreamChat/Workers/ChannelMemberUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelMemberListUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/MemberController/MemberController_Tests.swift
  Tests/StreamChatTests/Controllers/MemberListController/MemberListController_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberListUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3100 [ChatStateLayer] MessageSearch and MessageSearchState
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  Sources/StreamChat/StateLayer/MessageSearch.swift
  Sources/StreamChat/StateLayer/MessageSearchState+Observer.swift
  Sources/StreamChat/StateLayer/MessageSearchState.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/SearchControllers/MessageSearchController/MessageSearchController_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberListUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3106 Fix brew install on mock server sync
  .github/workflows/sync-mock-server.yml
Labels: 🤖 CI/CD

#3111 Expose `notificationsMuted` in `ChatChannelMember`
  CHANGELOG.md
  DemoApp/Screens/MembersViewController.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Member.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Member.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannelMember_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChatChannelMember.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MemberPayload_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MemberModelDTO_Tests.swift
Labels: ❗️ High Priority, 🌐 SDK: StreamChat (LLC), ✅ Feature

#3108 [ChatStateLayer] Async connect and disconnect in ChatClient
  Sources/StreamChat/ChatClient.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3110 [ChatStateLayer] Skip capabilities
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/StateLayer/Chat.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3109 Invalid reaction scores were saved to CoreData store
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3102 [ChatStateLayer] Client, connection and channel events
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
  Sources/StreamChat/Workers/EventSender.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3104 [ChatStateLayer] Sync repository channel list query tracking
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Sources/StreamChat/StateLayer/ChannelListState+Observer.swift
  Sources/StreamChat/StateLayer/ChannelListState.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3105 Add support for defining file size limit per attachment type
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/AppSettingsPayload.swift
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Models/AppSettings.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/AppSettings.json
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/AppSettingsPayload_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature

#3112 Make it easier to customize `ComposerVC.updateContent()`
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/__Snapshots__/ComposerVC_Tests/test_whenSuggestionsLookupIsLocal_onlyChannelMembersAreShown.default-light.png
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#3101 Fix markdown-formatter customization accessibility
  CHANGELOG.md
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Scripts/updateDependency.sh
  Sources/StreamChatUI/Appearance+Formatters/MarkdownFormatter.swift
  Tests/StreamChatUITests/Utils/DefaultMarkdownFormatter_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ✅ Feature

#3116 Fix pinning messages with attachments stuck in sending state
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3117 Fix XCMetrics PR detection on scheduled runs
  fastlane/Fastfile
Labels: 🤖 CI/CD
