Repository GetStream/stream-chat-swift, pull requests merged in 2024-04, with the labels that each got.

#3122 Add Thread V2 Endpoints
  Sources/StreamChat/APIClient/Endpoints/EndpointPath+OfflineRequest.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath.swift
  Sources/StreamChat/APIClient/Endpoints/ThreadEndpoints.swift
  Sources/StreamChat/Query/ThreadListQuery.swift
  Sources/StreamChat/Query/ThreadQuery.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Assertions/AssertJSONEqual.swift
  TestTools/StreamChatTestTools/TestData/AnyEndpoint.swift
  Tests/StreamChatTests/APIClient/Endpoints/EndpointPath_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/ThreadEndpoint_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3124 Align unit tests' test plans
  Tests/StreamChatTests/StreamChatFlakyTests.xctestplan
  Tests/StreamChatTests/StreamChatTestPlan.xctestplan
Labels: 🤖 CI/CD

#3128 [ChatStateLayer] Chat unit tests
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelMemberUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🤖 CI/CD

#3129 Fix thread parent message not updated when inside a thread
  CHANGELOG.md
  Sources/StreamChat/Utils/LazyCachedMapCollection.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3132 Fix member list not updated after moderator is demoted
  CHANGELOG.md
  DemoApp/Shared/StreamChatWrapper.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Tests/StreamChatTests/Database/DTOs/MemberModelDTO_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3134 [CI] Raise errors when xcmetrics were not found in the logs
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3149 Bump timeout for DB tests on older iOS versions
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
Labels: 🤖 CI/CD

#3150 [Threads v2] Add Thread Domain Models and DTOs
  Sources/StreamChat/APIClient/Endpoints/Payloads/IdentifiableModel.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/IdentifiablePayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ThreadListPayload.swift
  Sources/StreamChat/Database/DTOs/ThreadDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadParticipantDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadReadDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Thread.swift
  Sources/StreamChat/Models/ThreadParticipant.swift
  Sources/StreamChat/Models/ThreadRead.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ThreadListPayload_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ThreadDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ThreadParticipantDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ThreadReadDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#3167 [Reactions v2] New reactions query endpoint
  CHANGELOG.md
  Examples/SlackClone/SlackChatMessageListViewController.swift
  Examples/SlackClone/SlackReactionsView.swift
  Examples/SlackClone/SlackReactonsItemView.swift
  Sources/StreamChat/APIClient/Endpoints/MessageEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/ReactionEndpoints.swift
  Sources/StreamChat/Controllers/ReactionListController/ChatClient+ReactionListController.swift
  Sources/StreamChat/Controllers/ReactionListController/ReactionListController+Combine.swift
  Sources/StreamChat/Controllers/ReactionListController/ReactionListController+SwiftUI.swift
  Sources/StreamChat/Controllers/ReactionListController/ReactionListController.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/ReactionListQueryDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Query/ReactionListQuery.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/ReactionListUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/MessageEndpoints_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/ReactionEndpoint_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageReactionDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/Query/ReactionListQuery_Tests.swift
  Tests/StreamChatTests/StreamChatIntegrationTests/ReactionEvents_IntegrationTests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatTests/Workers/ReactionListUpdater_Tests.swift
  Tests/StreamChatUITests/Extensions/ChatMessage+Equatable_Tests.swift
  docusaurus/docs/iOS/uikit/views/reactions.md
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3158 [Reactions v2] Add `reactionGroups` to `ChatMessage`
  CHANGELOG.md
  DemoApp/StreamChat/StreamChatWrapper+DemoApp.swift
  Examples/SlackClone/ChatClient.swift
  Examples/SlackClone/SlackReactionsView.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessageReactionGroupPayload.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionGroupDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Models/MessageReactionGroup.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactions+Types.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestMockServer/Fixtures/JSONs/http_reaction.json
  TestTools/StreamChatTestMockServer/Fixtures/JSONs/ws_reaction.json
  TestTools/StreamChatTestMockServer/MockServer/ReactionResponses.swift
  TestTools/StreamChatTestTools/Extensions/Unique/ChatMessage+Unique.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Reaction/ReactionNew.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Message.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/MessagePayload.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatMessage_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/DatabaseContainer_Spy.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionsView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/__Snapshots__/ChatMessageReactionsView_Tests/test_defaultAppearance_whenCustomReactionAtSorting.default-light.png
  docusaurus/docs/iOS/uikit/views/reactions.md
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, ✅ Feature, 🟢 QAed

#3142 Add user privacy settings to control user events
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Screens/UserProfileViewController.swift
  DemoApp/Shared/StreamChatWrapper.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/CurrentUserPayloads.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/UserPayloads.swift
  Sources/StreamChat/APIClient/Endpoints/UserEndpoints.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/CurrentUser.swift
  Sources/StreamChat/Models/UserInfo.swift
  Sources/StreamChat/WebSocketClient/WebSocketConnectPayload.swift
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/CurrentChatUser_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/CurrentUserUpdater_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/CurrentUserPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/UserPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/UserPayloads_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/UserEndpoints_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/CurrentUserController/CurrentUserController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/WebSocketClient/WebSocketConnectPayload_Tests.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed
