Repository GetStream/stream-chat-swift, pull requests merged in 2024-10, with the labels that each got.

#3437 Fix a crash with thematic breaks in markdown
  CHANGELOG.md
  Sources/StreamChatUI/StreamSwiftyMarkdown/SwiftyMarkdown/SwiftyLineProcessor.swift
  Tests/StreamChatUITests/Utils/DefaultMarkdownFormatter_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3430 Linking and unlinking channels based on the loaded list of channels
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/StateLayer/ChannelListState+Observer.swift
  Sources/StreamChat/Workers/ChannelListLinker.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/SpyPattern/Spy/ChannelListUpdater_Spy.swift
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
  Tests/StreamChatTests/Workers/ChannelListLinker_Tests.swift
Labels: 🐞 Bug, 🟢 QAed

#3436 [CI] Improvements
  .github/workflows/release-publish.yml
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3432 Avoid rare optimistic locking failure by refreshing the object before saving
  CHANGELOG.md
  Sources/StreamChat/Database/DatabaseContainer.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3445 Fix Polls Memory Leak in Alerts + Creation Poll Action shown inside Threads
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
Labels: 🐞 Bug

#3443 [CI] Create a workflow to record snapshots
  .github/workflows/record-snapshots.yml
Labels: 🤖 CI/CD

#3447 Unit-tests were crashing on iOS 13 and 14 when toDate() was used
  TestTools/StreamChatTestTools/Extensions/String+Date.swift
Labels: 🤖 CI/CD

#3449 [CI] Channel list performance
  StreamChatUITestsAppUITests/Performance.xctestplan
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3444 Unread messages divider did not appear in the message list when marking unread
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Repositories/MessageRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, 🟢 QAed

#3452 [CI] Bump gem versions
  Gemfile.lock
Labels: 🤖 CI/CD

#3451 Rare crash in WebSocketPingController
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3453 Reduce time spent for type-checking
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  Sources/StreamChat/Models/Attachments/ChatMessageLinkAttachment.swift
  Sources/StreamChatUI/StreamNuke/Internal/ImageRequestKeys.swift
Labels: 🌐 SDK: StreamChat (LLC), 🐢 Low Priority

#3454 Fix a rare crash caused by missing uniqueness constraints in polls
  CHANGELOG.md
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3439 Improve reliability and performance of resetting ephemeral values
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/EphemeralValuesContainer.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Extensions/KeyPath+Extensions.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/DatabaseModels/TestDataModel.xcdatamodeld/TestDataModel.xcdatamodel/contents
  TestTools/StreamChatTestTools/TestData/DummyData/UserPayload.swift
  TestTools/StreamChatTestTools/TestData/TestManagedObject.swift
  Tests/StreamChatTests/Database/DTOs/UserDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3457 [CI] Unstable data container test
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🤖 CI/CD

#3456 [Swift6] Fix converting value causes data races warnings in Xcode 16
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
Labels: 🌐 SDK: StreamChat (LLC), 🐢 Low Priority

#3455 [Swift6] Fix unchecked sendable warnings in Xcode 16
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Sources/StreamChat/Utils/Operations/AsyncOperation.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
  Sources/StreamChatUI/StreamNuke/Internal/Operation.swift
Labels: 🌐 SDK: StreamChat (LLC), 🐢 Low Priority

#3448 Improve performance of presenting ChatChannelVC
  CHANGELOG.md
  Scripts/updateDependency.sh
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
  Sources/StreamChatUI/StreamSwiftyMarkdown/SwiftyMarkdown/PerfomanceLog.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessageListVC_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ⚡ Performance

#3450 Reduce channel list updates when syncing
  CHANGELOG.md
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Tests/StreamChatTests/Repositories/SyncOperations_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3467 Lock vale version to 2.1.0
  .github/workflows/vale-doc-lint.yml
Labels: 📋 Docs, 🤖 CI/CD

#3472 Do not watch channels when searching by channels
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/Search/ChatChannelSearchVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatChannelSearchVC_Tests.swift
Labels: 🐞 Bug

#3471 Add Channel Search documentation to SwiftUI
  docusaurus/docs/iOS/swiftui/channel-list-components/channel-list-search.md
Labels: 📋 Docs

#3476 Add support for system messages not updating `channel.lastMessageAt`
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/Database/DTOs/ChannelConfigDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  TestTools/StreamChatTestTools/Fixtures/JSONs/Channel.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannel_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: ✅ Feature

#3479 Fix channel list state views not updating when the view is not visible
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI
