Repository GetStream/stream-chat-swift, pull requests merged in 2024-02, with the labels that each got.

#2999 Added internal config for switching the WS implementation
  Sources/StreamChat/Config/StreamRuntimeCheck.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
Labels: 🟢 QAed

#3000 Fix channel item actions gesture overriding native swipe go-back gesture
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/SwipeableView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#2996 Reconfigure cells in the channel list when handling StagedChangeset.elementUpdated
  CHANGELOG.md
  Scripts/updateDependency.sh
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Sources/StreamChatUI/ChatChannelList/Search/ChatMessageSearchVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  Sources/StreamChatUI/Utils/Extensions/DifferenceKit+Stream.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Utils/DifferenceKit+Stream_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ⚡ Performance

#3003 Demo app build warning about version mismatch
  DemoShare/Info.plist
Labels: 🪧 Demo App

#3007 Hard-code fastplane pluginfile path
  Gemfile
Labels: 🤖 CI/CD

#3004 Clean up text view data detector types in the message cell
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
Labels: 🎨 SDK: StreamChatUI

#3008 Fix attachments being sent with local url paths
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Workers/Background/AttachmentQueueUploader.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Workers/Background/AttachmentQueueUploader_Tests.swift
  Tests/StreamChatTests/Workers/Background/MessageEditor_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3014 Do not check token expiration client side
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Shared/StreamChatWrapper.swift
  DemoApp/Shared/Token+Development.swift
  Sources/StreamChat/Config/Token.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  Sources/StreamChat/Repositories/ConnectionRepository.swift
  Tests/StreamChatTests/Repositories/ConnectionRepository_Tests.swift
Labels: ❗️ High Priority, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3017 Add documentation about intercepting logs
  docusaurus/docs/iOS/basics/logs.md
Labels: 📋 Docs

#3023 Fix tapping message links without https not opening Safari
  CHANGELOG.md
  Sources/StreamChat/Utils/TextLinkDetector.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  StreamChatUITestsAppUITests/Pages/MessageListPage.swift
  StreamChatUITestsAppUITests/Robots/UserRobot+Asserts.swift
  StreamChatUITestsAppUITests/Tests/MessageList_Tests.swift
  Tests/StreamChatTests/Utils/TextLinkDetector_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageContentView_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkAndMarkdown.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageHasLinkAndMention.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
Labels: 🐞 Bug, ❗️ High Priority

#3011 Fix demo app storyboard warnings about button configuration and dynam…
  DemoApp/Resources/Base.lproj/Main.storyboard
  DemoApp/Screens/LoginViewController/LoginViewController.swift
Labels: 🪧 Demo App

#3025 Fix composer link preview overridden by previous enrichment
  CHANGELOG.md
  Sources/StreamChatUI/Composer/ComposerVC.swift
  Tests/StreamChatUITests/SnapshotTests/Composer/ComposerVC_Tests.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#3013 Images in merged avatars change their location when opening channel list
  CHANGELOG.md
  Sources/StreamChatUI/Utils/ImageLoading/NukeImageLoader.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatUITests/Utils/NukeImageLoader_Tests.swift
Labels: 🎨 SDK: StreamChatUI

#3016 Make reconfigure closure optional when reloading with staged changesets
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView+DiffKit.swift
  Sources/StreamChatUI/Utils/Extensions/DifferenceKit+Stream.swift
Labels: 🎨 SDK: StreamChatUI

#3029 Fix native swipe-back gesture overridden by swipe to reply
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelVC.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3018 Fix CGBitmapContextInfoCreate warnings in console
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/AvatarView/ChatChannelAvatarView.swift
  Sources/StreamChatUI/Utils/ImageLoading/ImageResultsMapper.swift
  Tests/StreamChatUITests/Mocks/ImageLoader_Mock.swift
  Tests/StreamChatUITests/Utils/ImageResultsMapper_Tests.swift
Labels: 🎨 SDK: StreamChatUI

#3020 Cache regular expression used for markdown which increases performance
  CHANGELOG.md
  Sources/StreamChatUI/Appearance+Formatters/MarkdownFormatter.swift
Labels: 🎨 SDK: StreamChatUI, ⚡ Performance

#3021 Skipping channel updates did not work when displaying message list
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/ChatChannelListVC_Tests.swift
Labels: 🎨 SDK: StreamChatUI, ⚡ Performance

#3034 Add parallel attachment uploading
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelVC.swift
  Sources/StreamChat/Workers/Background/AttachmentQueueUploader.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/APIClient_Spy.swift
  Tests/StreamChatTests/Workers/Background/AttachmentQueueUploader_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature

#3037 Fix race condition when dismissing the gallery causing the UI to be blocked
  CHANGELOG.md
  Sources/StreamChatUI/Gallery/ZoomDismissalInteractionController.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3042 Fix controllers having empty data when state changed to .remoteDataFetched with background mapping enabled
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/DatabaseObserver/BackgroundDatabaseObserver.swift
  Sources/StreamChat/Controllers/DatabaseObserver/BackgroundListDatabaseObserver.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed
