Repository GetStream/stream-chat-swift, pull requests merged in 2024-09, with the labels that each got.

#3405 [CI] Clean up disk space on CI before downloading iOS runtimes
  .github/actions/setup-ios-runtime/action.yml
Labels: 🤖 CI/CD

#3407 Log cURL representation of the URLRequest to the debug log
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/Extensions/URLRequest+cURL.swift
  StreamChat.xcodeproj/project.pbxproj
Labels: 🌐 SDK: StreamChat (LLC)

#3404 Add unset argument to update user data
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/APIClient/Endpoints/UserEndpoints.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/StateLayer/ConnectedUser.swift
  Sources/StreamChat/Workers/CurrentUserUpdater.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/CurrentUserUpdater_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/UserEndpoints_Tests.swift
  Tests/StreamChatTests/Workers/CurrentUserUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🏗 Missing Feature Parity

#3399 Local database integrity
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3409 Channel watching did not resume on web-socket reconnection
  CHANGELOG.md
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/State/Chat_Mock.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3414 Deprecate `Filter.notEqual` and `Filter.notIn`
  CHANGELOG.md
  Sources/StreamChat/Query/Filter.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3415 Update outdated documentation and add examples
  README.md
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/ReactionListController/ReactionListController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Controllers/SearchControllers/UserSearchController/UserSearchController.swift
  Sources/StreamChat/Controllers/UserListController/UserListController.swift
  docusaurus/docs/iOS/basics/integration.md
  docusaurus/docs/iOS/basics/overview.md
  docusaurus/docs/iOS/client/state-layer/state-layer-overview.md
  docusaurus/docs/iOS/uikit/getting-started.md
  docusaurus/docs/iOS/uikit/theming.md
Labels: 📋 Docs

#3417 Add reason and extraData to flag user and extraData to flag message methods
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/ModerationEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/Requests/FlagRequestBody.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/UserController/UserController.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/StateLayer/ConnectedUser.swift
  Sources/StreamChat/Workers/MessageUpdater.swift
  Sources/StreamChat/Workers/UserUpdater.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/MessageUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/UserUpdater_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/ModerationEndpoints_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/StateLayer/ConnectedUser_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
  Tests/StreamChatTests/Workers/UserUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🏗 Missing Feature Parity

#3419 Sorting order in lists with equal sorting criteria
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  Sources/StreamChat/Query/Sorting/ChannelMemberListSortingKey.swift
  Sources/StreamChat/Query/Sorting/SortValue.swift
  Sources/StreamChat/StateLayer/UserSearchState.swift
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Sources/StreamChat/Utils/Database/DatabaseItemConverter.swift
  Sources/StreamChat/Utils/Sequence+CompactMapLoggingError.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Extensions/String+Date.swift
  TestTools/StreamChatTestTools/TestData/DummyData/UserPayload.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelMemberListSortingKey_Tests.swift
  Tests/StreamChatTests/Query/Sorting/SortingValue_Tests.swift
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
  Tests/StreamChatTests/StateLayer/MemberList_Tests.swift
  Tests/StreamChatTests/Utils/JSONDecoder_Tests.swift
  Tests/StreamChatTests/Utils/StreamJSONDecoder_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3431 [CI] Fix snapshots path
  fastlane/Fastfile
Labels: 🤖 CI/CD

#3426 An error message about recovery request mode was incorrectly logged after web-socket connect
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/ChatChannelController_Spy.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Repositories/SyncOperations_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)
