Repository GetStream/stream-chat-swift, pull requests merged in 2024-11, with the labels that each got.

#3485 Add tests and changelog entry for false predicate PR:3482
  CHANGELOG.md
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3489 [CI] Add snapshot version postfix
  Gemfile.lock
  Sources/StreamChat/Generated/SystemEnvironment+Version.swift
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: 🤖 CI/CD

#3491 [CI] Add reminder about last release step
  .github/workflows/release-publish.yml
Labels: 🤖 CI/CD

#3487 Add support for channel member extra data
  .gitignore
  CHANGELOG.md
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Screens/Create Chat/NameGroupViewController.swift
  DemoApp/Screens/MembersViewController.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath+OfflineRequest.swift
  Sources/StreamChat/APIClient/Endpoints/EndpointPath.swift
  Sources/StreamChat/APIClient/Endpoints/MemberEndpoints.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/MemberController/MemberController.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Member.swift
  Sources/StreamChat/Models/User.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/Workers/ChannelMemberUpdater.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  StreamChat.xcodeproj/xcshareddata/xcschemes/DemoApp-StreamDevelopers.xcscheme
  TestTools/StreamChatTestTools/Fixtures/JSONs/Member.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatChannelMember_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelMemberUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/ChatChannelMember.swift
  Tests/StreamChatTests/APIClient/Endpoints/ChannelEndpoints_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/EndpointPath_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/MemberEndpoints_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MemberPayload_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/MemberController/MemberController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MemberModelDTO_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/Workers/ChannelMemberUpdater_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3484 Fix warnings when building with Xcode 16.1
  Sources/StreamChat/StateLayer/UserList.swift
  Sources/StreamChat/Utils/MulticastDelegate.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3492 Add moderation v2 support + Demo App App Key configuration
  CHANGELOG.md
  DemoApp/SceneDelegate.swift
  DemoApp/Screens/AppConfigViewController/AppConfigViewController.swift
  DemoApp/Screens/LoginViewController/LoginViewController.swift
  DemoApp/Shared/DemoAppCoordinator.swift
  DemoApp/Shared/DemoUsers.swift
  DemoApp/Shared/StreamChatWrapper.swift
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessageModerationDetailsPayload.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/MessagePayloads.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageModerationDetailsDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/MessageModerationDetails.swift
  StreamChat.xcodeproj/project.pbxproj
  StreamChatUITestsApp/AppDelegate.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Message.json
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/ChatMessage_Mock.swift
  TestTools/StreamChatTestTools/TestData/DummyData/MessagePayload.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageModerationDetailsDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/Models/MessageModerationDetails_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3499 Resolve swift warning
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3500 Cache NSManagedObjectID instead of the CurrentUserDTO
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Repositories/AuthenticationRepository.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3502 Replace shared current user observer used for reading privacy settings
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/TypingEventsSender_Mock.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ⚡ Performance, 🟢 QAed

#3497 Fix converting deleted database objects
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/AttachmentDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelConfigDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/ChannelReadDTO.swift
  Sources/StreamChat/Database/DTOs/CommandDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/DeviceDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionGroupDTO.swift
  Sources/StreamChat/Database/DTOs/NSManagedObject+Validation.swift
  Sources/StreamChat/Database/DTOs/PollDTO.swift
  Sources/StreamChat/Database/DTOs/PollOptionDTO.swift
  Sources/StreamChat/Database/DTOs/PollVoteDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadParticipantDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadReadDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Repositories/PollsRepository.swift
  Tests/StreamChatTests/Database/DTOs/CurrentUserDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/NSManagedObject+Validation_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3504 Fix sometimes failing test_loadPreviousReplies_whenMessagesAreEmpty_callDelegateWithEmptyChanges
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
Labels: 🤖 CI/CD

#3507 Fix batch deleting current user while it has muted users attached to it
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3508 Convert to models after NSFetchedResultsController finishes reporting changes
  CHANGELOG.md
  Sources/StreamChat/Controllers/DatabaseObserver/ListChange.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3515 Fix Channel List search bar disappearing
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListVC.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed
