Repository GetStream/stream-chat-swift, pull requests merged in 2025-04, with the labels that each got.

#3644 Fix message search with empty avatars
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannelList/ChatChannelListItemView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/ChatMessageSearchVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/__Snapshots__/ChatMessageSearchVC_Tests/setUp.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/__Snapshots__/ChatMessageSearchVC_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/__Snapshots__/ChatMessageSearchVC_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/__Snapshots__/ChatMessageSearchVC_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatChannelList/Search/__Snapshots__/ChatMessageSearchVC_Tests/test_defaultAppearance.small-dark.png
  yeetd-normal.pkg.1
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3643 Fix `FilterKey.id` not returning any channels in `ChannelListQuery`
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Query/ChannelListQuery.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3646 Fix incorrect channel list sorting when sorted by `.hasUnread`
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelListSortingKey_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3654 [CI] Install an older ipsw version
  .github/actions/setup-ios-runtime/action.yml
  .github/workflows/cron-checks.yml
  Githubfile
  Scripts/bootstrap.sh
Labels: 🤖 CI/CD

#3656 [CI] Bump Xcode version
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: 🤖 CI/CD
