Repository GetStream/stream-chat-swift, pull requests merged in 2025-03, with the labels that each got.

#3606 Do not use markdown regex (for markdown branch)
  CHANGELOG.md
  Sources/StreamChat/Utils/MarkdownParser.swift
  Sources/StreamChatUI/Appearance+Formatters/MarkdownFormatter.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessage/ChatMessageContentView.swift
  Tests/StreamChatTests/Utils/MarkdownParser_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceCustomization_usingSubclassing.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceCustomization_usingUIConfig.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForErrorMessage.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForSystemMessage.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearanceForSystemMessage.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageIsEdited.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithoutMarkdownOrderedListFromTheCurrentUserIsSent.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageContentView_Tests/test_appearance_whenMessageWithoutMarkdownOrderedListFromTheCurrentUserIsSent.default-light.png
  Tests/StreamChatUITests/Utils/DefaultMarkdownFormatter_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#3604 Make background task identifier tracking thread-safe
  CHANGELOG.md
  Sources/StreamChat/WebSocketClient/BackgroundTaskScheduler.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3609 [CI] Bump Xcode, macOS and iOS versions
  .github/workflows/cron-checks.yml
  .github/workflows/release-merge.yml
  .github/workflows/release-start.yml
  .github/workflows/sdk-performance-metrics.yml
  .github/workflows/sdk-size-metrics.yml
  .github/workflows/smoke-checks.yml
  .github/workflows/sync-mock-server.yml
  .github/workflows/testflight.yml
  .github/workflows/update-copyright.yml
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Attachments/__Snapshots__/ChatFileAttachmentListView+ItemView_Tests/test_appearance_pdf_whenDownloadedThenShareIcon.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingSubclassing.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingSubclassing.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingSubclassing.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingSubclassing.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingUIConfig.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingUIConfig.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingUIConfig.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_appearanceCustomization_usingUIConfig.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/Gallery/__Snapshots__/GalleryVC_Tests/test_defaultAppearance.small-dark.png
  fastlane/Fastfile
  yeetd-normal.pkg
Labels: 🤖 CI/CD

#3612 [CI] Replace simulator on cron checks
  .github/workflows/cron-checks.yml
Labels: 🤖 CI/CD

#3615 Fix default channel list sorting by replacing updated_at with last_updated
  CHANGELOG.md
  Sources/StreamChat/Query/ChannelListQuery.swift
  Sources/StreamChat/Query/Sorting/ChannelListSortingKey.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
  Tests/StreamChatTests/Query/Sorting/ChannelListSortingKey_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3601 Fetch only required data in ChatRemoteNotificationHandler (no writes to persistent store)
  CHANGELOG.md
  Sources/StreamChat/APIClient/ChatRemoteNotificationHandler.swift
  Sources/StreamChat/APIClient/Endpoints/ChannelEndpoints.swift
  Sources/StreamChat/ChatClient+Environment.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Repositories/ChannelRepository.swift
  Sources/StreamChat/Repositories/MessageRepository.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Sources/StreamChat/Utils/NotificationExtension+Lifecycle.swift
  Sources/StreamChat/Workers/Background/ConnectionRecoveryHandler.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/ChannelRepository_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/MessageRepository_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Repositories/SyncRepository_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/WebSocketClient/EventMiddlewares/NotificationExtensionLifecycle_Mock.swift
  Tests/StreamChatTests/APIClient/ChatPushNotificationContent_Tests.swift
  Tests/StreamChatTests/APIClient/ChatRemoteNotificationHandler_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/ChannelEndpoints_Tests.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Repositories/ChannelRepository_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
  Tests/StreamChatTests/Utils/Database/NSManagedObject_Tests.swift
  Tests/StreamChatTests/Utils/NotificationExtensionLifecycle_Tests.swift
  Tests/StreamChatTests/Workers/Background/ConnectionRecoveryHandler_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🟢 QAed

#3613 Add channel reads pagination support
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Query/ChannelQuery.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3617 [CI] Downgrade Xcode version for E2E tests
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
Labels: 🤖 CI/CD

#3620 [CI] Resolve E2E tests issue on CI
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks.yml
  StreamChatUITestsAppUITests/Tests/Attachments_Tests.swift
Labels: 🤖 CI/CD

#3626 Fix composer not cleared when draft deleted event is triggered
  CHANGELOG.md
  Sources/StreamChatUI/ChatChannel/ChatChannelVC.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/__Snapshots__/ChatChannelVC_Tests/test_channelWithDraftMessage_whenDraftIsUpdatedFromEvent_whenThread_shouldNotUpdateChannelComposer.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatThread/ChatThreadVC_Tests.swift
Labels: 🟢 QAed

#3625 Fix local draft attachments erased when draft updated event is triggered
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
Labels: 🟢 QAed

#3633 Setting scaled font as default font led to runtime exception
  CHANGELOG.md
  Sources/StreamChatUI/Appearance+Formatters/MarkdownFormatter.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/ChatMessageMarkdown_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageMarkdown_Tests/test_headers_appearance_scaled_font.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageMarkdown_Tests/test_headers_appearance_scaled_font.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageMarkdown_Tests/test_headers_appearance_scaled_font.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/ChatMessage/__Snapshots__/ChatMessageMarkdown_Tests/test_headers_appearance_scaled_font.small-dark.png
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI
