Repository GetStream/stream-chat-swift, pull requests merged in 2025-08, with the labels that each got.

#3760 [CI] Update Ruby gems
  .github/workflows/smoke-checks.yml
  Gemfile.lock
  fastlane/Pluginfile
Labels: 🤖 CI/CD

#3763 Remove animation in message reactions when opening a sheet in the channel view
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionsView.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3750 Add `LivestreamChannelController`
  CHANGELOG.md
  DemoApp/Screens/Livestream/DemoLivestreamChatChannelVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamChatMessageListVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamMessageActionsVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamReactionsListView.swift
  DemoApp/StreamChat/Components/DemoChatChannelListRouter.swift
  Sources/StreamChat/Audio/AppStateObserving.swift
  Sources/StreamChat/ChatClientFactory.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/LivestreamChannelController+Combine.swift
  Sources/StreamChat/Controllers/ChannelController/LivestreamChannelController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Models/Payload+asModel/ChannelPayload+asModel.swift
  Sources/StreamChat/Models/Payload+asModel/MessagePayload+asModel.swift
  Sources/StreamChat/Models/Payload+asModel/UserPayload+asModel.swift
  Sources/StreamChat/StateLayer/Chat.swift
  Sources/StreamChat/WebSocketClient/Events/MessageEvents.swift
  Sources/StreamChat/Workers/Background/MessageSender.swift
  Sources/StreamChat/Workers/ChannelUpdater.swift
  Sources/StreamChat/Workers/EventNotificationCenter.swift
  Sources/StreamChat/Workers/ManualEventHandler.swift
  Sources/StreamChat/Workers/UserListUpdater.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListVC+DiffKit.swift
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
  Sources/StreamChatUI/ChatMessageList/ScrollToBottomButton.swift
  Sources/StreamChatUI/Composer/ComposerVC.swift
  StreamChat.xcodeproj/project.pbxproj
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ChannelUpdater_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/EventNotificationCenter_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/ManualEventHandler_Mock.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/MessagePayloads_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/UserPayloads_Tests.swift
  Tests/StreamChatTests/Audio/StreamAppStateObserver_Tests.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/LivestreamChannelController+Combine_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/LivestreamChannelController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Workers/ChannelUpdater_Tests.swift
  Tests/StreamChatTests/Workers/EventNotificationCenter_Tests.swift
  Tests/StreamChatTests/Workers/ManualEventHandler_Tests.swift
  Tests/StreamChatUITests/SnapshotTests/ChatChannel/ChatChannelVC_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3774 Make `resume()` and `pause()` of `LivestreamChannelController` more flexible
  CHANGELOG.md
  DemoApp/Screens/Livestream/DemoLivestreamChatChannelVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamChatMessageListVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamMessageActionsVC.swift
  DemoApp/Screens/Livestream/DemoLivestreamReactionsListView.swift
  DemoApp/Screens/Livestream/LivestreamPauseBannerView.swift
  Sources/StreamChat/Controllers/ChannelController/LivestreamChannelController.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Controllers/ChannelController/LivestreamChannelController_Tests.swift
Labels: 🤞 Ready For QA

#3777 Handle user banned events in livestream controller
  CHANGELOG.md
  DemoApp/Screens/Livestream/DemoLivestreamChatChannelVC.swift
  Sources/StreamChat/Controllers/ChannelController/LivestreamChannelController.swift
  Tests/StreamChatTests/Controllers/ChannelController/LivestreamChannelController_Tests.swift
Labels: 🟢 QAed

#3792 Add support for user deleted messages event
  CHANGELOG.md
  Sources/StreamChat/Controllers/ChannelController/LivestreamChannelController.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/WebSocketClient/EventMiddlewares/UserChannelBanEventsMiddleware.swift
  Sources/StreamChat/WebSocketClient/Events/EventType.swift
  Sources/StreamChat/WebSocketClient/Events/UserEvents.swift
  Tests/StreamChatTests/Controllers/ChannelController/LivestreamChannelController_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/UserChannelBanEventsMiddleware_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), ✅ Feature, 🟢 QAed

#3794 Do not reset blocked state when channel specific WS event without blocked state is handled
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatChannelListVC.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  TestTools/StreamChatTestTools/TestData/DummyData/ChannelDetailPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)
