Repository GetStream/stream-chat-swift, pull requests merged in 2025-01, with the labels that each got.

#3546 Add ChatChannel.isDisabled and disabled channel filtering key
  CHANGELOG.md
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelCodingKeys.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/StreamChatModel.xcdatamodeld/StreamChatModel.xcdatamodel/contents
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Query/ChannelListQuery.swift
  TestTools/StreamChatTestTools/Fixtures/JSONs/Channel.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/ChannelPayload.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/ChannelPayloadWithCustom.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/ChannelsQuery.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/CurrentUser.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/CurrentUserCustomRole.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/CurrentUserPayload.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/CurrentUserPayloadWithCustom.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/DeactivatedUser.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelDeleted.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelHidden+HistoryCleared.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelHidden.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelTruncated.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelTruncated_with_message.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelUpdated.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Channel/ChannelUpdated_ServerSide.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/HealthCheck/HealthCheck.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationAddedToChannel+MissingFields.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationAddedToChannel.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationChannelDeleted.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationChannelMutesUpdatedWithSomeMutedChannels.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationInviteAccepted.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationInviteRejected.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationInvited.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationMarkRead.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationMessageNew+MissingFields.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationMessageNew.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Events/Notification/NotificationRemovedFromChannel.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/Message.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/MessagePayload.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/MessagePayloadWithCustom.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/MessageWithBrokenAttachments.json
  TestTools/StreamChatTestTools/Fixtures/JSONs/MutedChannelPayload.json
  TestTools/StreamChatTestTools/TestData/DummyData/ChannelDetailPayload.swift
  TestTools/StreamChatTestTools/TestData/DummyData/XCTestCase+Dummy.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/ChannelListPayload_Tests.swift
  Tests/StreamChatTests/APIClient/Endpoints/Payloads/IdentifiablePayload_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Query/ChannelListFilterScope_Tests.swift
  Tests/StreamChatTests/WebSocketClient/EventMiddlewares/ChannelReadUpdaterMiddleware_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🏗 Missing Feature Parity

#3547 Remove swift version checks and set the required tools version to 5.7
  Package.swift
  README.md
  StreamChat-XCFramework.podspec
  StreamChat.podspec
  StreamChatUI-XCFramework.podspec
  StreamChatUI.podspec
  Tests/StreamChatTests/StateLayer/ChannelList_Tests.swift
  Tests/StreamChatTests/StateLayer/Chat_Tests.swift
  Tests/StreamChatTests/StateLayer/StateLayerDatabaseObserver_Tests.swift
  Tests/StreamChatTests/StateLayer/UserSearch_Tests.swift
  Tests/StreamChatUITests/Extensions/ChatMessage+Equatable_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI

#3549 Remove SyncRepository V1 implementation
  Sources/StreamChat/Config/StreamRuntimeCheck.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Repositories/SyncOperations.swift
  Sources/StreamChat/Repositories/SyncRepository.swift
  Sources/StreamChat/Workers/ChannelListUpdater.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Controllers/ChatChannelListController_Mock.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/ChannelListUpdater_Spy.swift
  Tests/StreamChatTests/Controllers/ChannelListController/ChannelListController_Tests.swift
  Tests/StreamChatTests/Repositories/SyncOperations_Tests.swift
  Tests/StreamChatTests/Repositories/SyncRepository_Tests.swift
  Tests/StreamChatTests/Workers/ChannelListUpdater_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3550 Do not use view context in StreamChat
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3551 Do not store empty dictionary when updating PollDTO.custom and PollOptionDTO.custom
  Sources/StreamChat/Database/DTOs/PollDTO.swift
  Sources/StreamChat/Database/DTOs/PollOptionDTO.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3548 Add file property to the ImageAttachmentPayload
  CHANGELOG.md
  DemoShare/DemoShareViewModel.swift
  Sources/StreamChat/Models/Attachments/AnyAttachmentPayload.swift
  Sources/StreamChat/Models/Attachments/ChatMessageImageAttachment.swift
  TestTools/StreamChatTestTools/Mocks/Models + Extensions/Attachments/ChatMessageImageAttachment_Mock.swift
  Tests/StreamChatTests/Models/Attachments/ImageAttachmentPayload_Tests.swift
  Tests/StreamChatTests/Workers/MessageUpdater_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3552 [CI] Resolve SwiftUI XCFramework compilation issue
  fastlane/Fastfile
Labels: 🎨 SDK: StreamChatUI, 🤖 CI/CD

#3554 Add E2E tests for quoted-message-refresh fix
  .github/workflows/smoke-checks.yml
  StreamChatUITestsAppUITests/Tests/QuotedReply_Tests.swift
Labels: 🤖 CI/CD

#3555 Fix warnings: unchecked Sendable, non-async makeConnectedUser, and unused variables
  Sources/StreamChat/ChatClient.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/VoiceRecording/MockAVURLAsset.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Workers/EventNotificationCenter_Mock.swift
  TestTools/StreamChatTestTools/SpyPattern/Spy/DatabaseContainer_Spy.swift
  Tests/StreamChatTests/Audio/StreamAppStateObserver_Tests.swift
  Tests/StreamChatTests/Audio/StreamAudioRecorder_Tests.swift
  Tests/StreamChatTests/Audio/StreamAudioSessionConfigurator_Tests.swift
  Tests/StreamChatTests/Audio/StreamPlayerObserver_Tests.swift
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Database/FetchCache_Tests.swift
Labels: 🤖 CI/CD

#3558 CocoaPods linting error
  Sources/StreamChat/Models/AppSettings.swift
Labels: 🤖 CI/CD

#3562 Remove internal _isDatabaseObserverItemReusingEnabled runtime check
  Sources/StreamChat/Config/StreamRuntimeCheck.swift
  Sources/StreamChat/Utils/Database/DatabaseItemConverter.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3563 [CI] Bump minimum Xcode version on CI
  .github/workflows/cron-checks.yml
  .github/workflows/release-start.yml
  .github/workflows/smoke-checks.yml
Labels: 🤖 CI/CD

#3565 Wait for current user data to be synced when connectUser() is called
  CHANGELOG.md
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/StateLayer/ChatClient+Factory.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/ConnectionRepository_Mock.swift
  Tests/StreamChatTests/ChatClient_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3564 Add support for transforming Messages, Channels and Members
  CHANGELOG.md
  DemoApp/Shared/StreamChatWrapper.swift
  Sources/StreamChat/Config/ChatClientConfig.swift
  Sources/StreamChat/Config/StreamModelsTransformer.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DataStore.swift
  Sources/StreamChat/Database/DatabaseSession.swift
  Sources/StreamChat/Models/Channel.swift
  Sources/StreamChat/Models/ChatMessage.swift
  Sources/StreamChat/Models/Member.swift
  Sources/StreamChat/Repositories/MessageRepository.swift
  Sources/StreamChat/StateLayer/ChatState.swift
  StreamChat.xcodeproj/project.pbxproj
  Tests/StreamChatTests/Controllers/ChannelController/ChannelController_Tests.swift
  Tests/StreamChatTests/Controllers/MessageController/MessageController_Tests.swift
  Tests/StreamChatTests/Database/DTOs/ChannelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MemberModelDTO_Tests.swift
  Tests/StreamChatTests/Database/DTOs/MessageDTO_Tests.swift
  Tests/StreamChatTests/Database/DatabaseContainer_Tests.swift
  Tests/StreamChatTests/Models/ChatChannel_Tests.swift
  Tests/StreamChatTests/Models/ChatMessage_Tests.swift
  Tests/StreamChatTests/Models/Member_Tests.swift
Labels: ✅ Feature

#3568 Fix reaction author's view with shrinked reaction images in iOS 18
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/Reactions/ChatMessageReactionItemView.swift
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_customAppearance.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_customAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance.extraExtraExtraLarge-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance.rightToLeftLayout-default.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance.small-dark.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance_shouldNotRenderUnavailableReactions.default-light.png
  Tests/StreamChatUITests/SnapshotTests/ChatMessageList/Reactions/ChatMessageReactionAuthorsVC/__Snapshots__/ChatMessageReactionAuthorsVC_Tests/test_defaultAppearance_whenOnlyOneReaction_shouldUseSingularLocalization.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountEqual4_shouldOnlyHaveSmallerHeight.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountEqual4_shouldOnlyHaveSmallerHeight.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountLessThan4_shouldHaveSmallerWidth.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountLessThan4_shouldHaveSmallerWidth.default-light.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountMoreThan4_shouldHaveBiggerWidth.default-dark.png
  Tests/StreamChatUITests/SnapshotTests/MessageActionsPopup/__Snapshots__/ChatMessagePopupVC_Tests/test_reactions_whenReactionsCountMoreThan4_shouldHaveBiggerWidth.default-light.png
Labels: 🐞 Bug

#3569 Dismiss thread when hard deleting root message
  CHANGELOG.md
  DemoApp/StreamChat/Components/DemoChatThreadVC.swift
  Sources/StreamChat/Repositories/MessageRepository.swift
  Sources/StreamChat/WebSocketClient/Events/Event.swift
  Sources/StreamChat/WebSocketClient/Events/MessageEvents.swift
  Sources/StreamChatUI/ChatThread/ChatThreadVC.swift
  TestTools/StreamChatTestTools/Mocks/StreamChat/Database/DatabaseSession_Mock.swift
  Tests/StreamChatTests/Repositories/MessageRepository_Tests.swift
  Tests/StreamChatTests/WebSocketClient/Events/MessageEvents_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC), 🎨 SDK: StreamChatUI, 🪧 Demo App

#3570 Fix missing final attributes for supplementary views exception
  CHANGELOG.md
  Sources/StreamChatUI/CommonViews/ListCollectionViewLayout/ListCollectionViewLayout.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI, 🟢 QAed

#3571 Exception when trying to access layout attributes for non-existent item
  Sources/StreamChatUI/CommonViews/ListCollectionViewLayout/ListCollectionViewLayout.swift
Labels: 🐞 Bug, 🎨 SDK: StreamChatUI

#3573 Show pinned channels at the top in the demo app
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
Labels: 🪧 Demo App

#3577 Do not ignore bundle when creating ChatClient mock
  TestTools/StreamChatTestTools/Mocks/StreamChat/ChatClient_Mock.swift
Labels: 🌐 SDK: StreamChat (LLC)

#3578 [CI] Lock sonar scanner and mint versions and get rid of brew
  .github/actions/bootstrap/action.yml
  .github/workflows/cron-checks.yml
  .github/workflows/smoke-checks-llc.yml
  .github/workflows/smoke-checks.yml
  .gitignore
  Brewfile
  Brewfile.lock.json
  Githubfile
  Scripts/bootstrap.sh
  fastlane/Fastfile
  fastlane/Sonarfile
Labels: 🤖 CI/CD

#3576 Remove extra data caching
  CHANGELOG.md
  Sources/StreamChat/Database/DTOs/ChannelDTO.swift
  Sources/StreamChat/Database/DTOs/CurrentUserDTO.swift
  Sources/StreamChat/Database/DTOs/MemberModelDTO.swift
  Sources/StreamChat/Database/DTOs/MessageDTO.swift
  Sources/StreamChat/Database/DTOs/MessageReactionDTO.swift
  Sources/StreamChat/Database/DTOs/PollDTO.swift
  Sources/StreamChat/Database/DTOs/PollOptionDTO.swift
  Sources/StreamChat/Database/DTOs/ThreadDTO.swift
  Sources/StreamChat/Database/DTOs/UserDTO.swift
  Sources/StreamChat/Utils/Codable+Extensions.swift
  Tests/StreamChatTests/Utils/JSONDecoder_Tests.swift
Labels: 🐞 Bug, 🌐 SDK: StreamChat (LLC)

#3581 [CI] Do not install sonar on cron
  .github/workflows/cron-checks.yml
Labels: 🤖 CI/CD

#3580 Newly created channels did not pop up at the top in the demo app
  DemoApp/StreamChat/DemoAppCoordinator+DemoApp.swift
Labels: 🪧 Demo App
